@using ECommerceApp.Domain.Entities
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model ECommerceApp.Web.Models.HomeIndexViewModel
@{
    Layout = null;
    


}

<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from ui-themez.smartinnovates.net/items/swoo_html/home_electronic/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 01 May 2025 05:25:15 GMT -->
<head>
    <!-- Metas -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="HTML5 Template swoo Multi-Purpose themeforest">
    <meta name="description" content="swoo - Multi-Purpose HTML5 Template">
    <meta name="author" content="">

    <!-- Title  -->
    <title>Swoo</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/swoo/home_electronic/assets/img/fav.png" title="Favicon" sizes="16x16">

    <!-- bootstrap 5 -->
    <link rel="stylesheet" href="~/swoo/common/assets/css/lib/bootstrap.min.css">

    <!-- font family -->
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&amp;display=swap" rel="stylesheet">

    <!-- FontAwesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <!-- Line Awesome CDN -->
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <!-- Ionicons CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/7.1.0/collection/components/icon/icon.min.css">
    <!-- animate css  -->
    <link rel="stylesheet" href="~/swoo/common/assets/css/lib/animate.css">
    <!-- fancybox popup  -->
    <link rel="stylesheet" href="~/swoo/common/assets/css/lib/jquery.fancybox.css">
    <!-- lity popup  -->
    <link rel="stylesheet" href="~/swoo/common/assets/css/lib/lity.css">
    <!-- swiper slider  -->
    <link rel="stylesheet" href="~/swoo/common/assets/css/lib/swiper8.min.css">
    <!-- izi toast  -->
    <link rel="stylesheet" href="~/swoo/common/assets/css/lib/iziToast.min.css">

    <!-- common style -->
    <link rel="stylesheet" href="~/swoo/common/assets/css/common_style.css">

    <!-- home style -->
    <link rel="stylesheet" href="~/swoo/home_electronic/assets/css/home_1_style.css">
</head>

<body class="home-style1">


    @* Eski satır: @await Html.PartialAsync("_TopNavbar", Model) *@
    @await Component.InvokeAsync("Navbar")



    <!--Contents-->
    <main>

        @await Html.PartialAsync("_HeaderBanner", Model)


        <!--  Start weekly-deals  -->
        @await Html.PartialAsync("_WeeklyDeals", Model)

        <!--  End weekly-deals  -->

        <!--  Start trend-search  -->
        @await Html.PartialAsync("_TrendingSearch", Model)
        <!--  End trend-search  -->


        @await Html.PartialAsync("_MainBanner", Model)


        @await Html.PartialAsync("_BestSellerSection", Model)


        @await Html.PartialAsync("_PopularBrands", Model)


        <!--  Start suggest-today  -->
        @await Html.PartialAsync("_SuggestToday", Model)
        <!--  End suggest-today  -->


        @await Html.PartialAsync("_BestSingle", Model)


        <!--  Start Just Landing  -->
        @await Html.PartialAsync("_Landing", Model)
        <!--  End Just Landing  -->


        <!--  Start testimonials  -->
        @await Html.PartialAsync("_Testimonials")
        <!--  End testimonials  -->


        <!--  Start subscribe  -->
        @await Html.PartialAsync("_Subscribe")
        <!--  End subscribe  -->


        
    </main>
    <!--End-Contents-->

    <!--  Start footer  -->
    @await Html.PartialAsync("_IndexFooter")

    <!--  Start to top button  -->
    <a href="/" class="to_top">
        <i class="la la-angle-up"></i>
    </a>
    <!--  End to top button  -->

    <!--  request  -->
    <script src="~/swoo/common/assets/js/lib/jquery-3.0.0.min.js"></script>
    <script src="~/swoo/common/assets/js/lib/jquery-migrate-3.0.0.min.js"></script>
    <script src="~/swoo/common/assets/js/lib/bootstrap.bundle.min.js"></script>
    <script src="~/swoo/common/assets/js/lib/wow.min.js"></script>
    <script src="~/swoo/common/assets/js/lib/jquery.fancybox.js"></script>
    <script src="~/swoo/common/assets/js/lib/lity.js"></script>
    <script src="~/swoo/common/assets/js/lib/swiper8-bundle.min.js"></script>
    <script src="~/swoo/common/assets/js/lib/jquery.waypoints.min.js"></script>
    <script src="~/swoo/common/assets/js/lib/jquery.counterup.js"></script>
    <script src="~/swoo/common/assets/js/lib/parallaxie.js"></script>
    <script src="~/swoo/common/assets/js/lib/iziToast.min.js"></script>
    <!-- ===== gsap scripts ===== -->
    <script src="~/swoo/common/assets/js/gsap_lib/gsap.min.js"></script>
    <!-- <script src="~/swoo/common/assets/js/gsap_lib/ScrollSmoother.min.js"></script>
    <script src="~/swoo/common/assets/js/gsap_lib/ScrollTrigger.min.js"></script>
    <script src="~/swoo/common/assets/js/gsap_lib/SplitText.min.js"></script> -->
    <script src="~/swoo/common/assets/js/common_js.js"></script>

    <!-- ===== home scripts ===== -->
    <script src="~/swoo/home_electronic/assets/js/home_1_scripts.js"></script>

</body>


<!-- Mirrored from ui-themez.smartinnovates.net/items/swoo_html/home_electronic/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 01 May 2025 05:25:34 GMT -->
</html>
