@using ECommerceApp.Domain.Entities
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model ECommerceApp.Web.Models.HomeIndexViewModel
@{
    Layout = null;
    


}

<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from ui-themez.smartinnovates.net/items/swoo_html/home_electronic/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 01 May 2025 05:25:15 GMT -->
<head>
    <!-- Metas -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="HTML5 Template swoo Multi-Purpose themeforest">
    <meta name="description" content="swoo - Multi-Purpose HTML5 Template">
    <meta name="author" content="">

    <!-- Title  -->
    <title>Swoo</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/swoo/home_electronic/assets/img/fav.png" title="Favicon" sizes="16x16">

    <!-- bootstrap 5 -->
    <link rel="stylesheet" href="~/swoo/common/assets/css/lib/bootstrap.min.css">

    <!-- font family -->
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&amp;display=swap" rel="stylesheet">

    <!-- line fontawesome icons  -->
    <link rel="stylesheet" href="~/swoo/common/assets/css/lib/all.min.css">
    <!-- fontawesome icons  -->
    <link rel="stylesheet" href="~/swoo/common/assets/css/lib/line-awesome.css">
    <!-- ionicons icons  -->
    <link rel="stylesheet" href="~/swoo/common/assets/css/lib/ionicons.css">
    <!-- animate css  -->
    <link rel="stylesheet" href="~/swoo/common/assets/css/lib/animate.css">
    <!-- fancybox popup  -->
    <link rel="stylesheet" href="~/swoo/common/assets/css/lib/jquery.fancybox.css">
    <!-- lity popup  -->
    <link rel="stylesheet" href="~/swoo/common/assets/css/lib/lity.css">
    <!-- swiper slider  -->
    <link rel="stylesheet" href="~/swoo/common/assets/css/lib/swiper8.min.css">
    <!-- izi toast  -->
    <link rel="stylesheet" href="~/swoo/common/assets/css/lib/iziToast.min.css">

    <!-- common style -->
    <link rel="stylesheet" href="~/swoo/common/assets/css/common_style.css">

    <!-- home style -->
    <link rel="stylesheet" href="~/swoo/home_electronic/assets/css/home_1_style.css">
</head>

<body class="home-style1">


    @await Html.PartialAsync("_TopNavbar", Model)



    <!--Contents-->
    <main>

        @await Html.PartialAsync("_HeaderBanner", Model)


        <!--  Start weekly-deals  -->
        @await Html.PartialAsync("_WeeklyDeals", Model)

        <!--  End weekly-deals  -->

        <!--  Start trend-search  -->
        @await Html.PartialAsync("_TrendingSearch", Model)
        <!--  End trend-search  -->


        @await Html.PartialAsync("_MainBanner", Model)


        @await Html.PartialAsync("_BestSellerSection", Model)


        <!--  Start pupolar-brands  -->
        <section class="tc-pupolar-brands-style1 wow fadeInUp slow" data-wow-delay="0.2s">
            <div class="container overflow-hidden">
                <div class="content">
                    <div class="title mb-40">
                        <div class="row align-items-center">
                            <div class="col-lg-8">
                                <h3 class="fsz-30"> Popular Brands </h3>
                            </div>
                            <div class="col-lg-4 text-lg-end mt-4 mt-lg-0">
                                <a href="https://ui-themez.smartinnovates.net/items/swoo_html/inner_pages/products.html" class="more-btn fsz-14 text-uppercase fw-500"> View All <i class="fal fa-angle-right ms-1"></i> </a>
                            </div>
                        </div>
                    </div>
                    <div class="pupolar-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="card-overlay">
                                    <div class="img th-250">
                                        <img src="~/swoo/home_electronic/assets/img/pup_1.png" alt="" class="img-cover">
                                    </div>
                                    <div class="info text-white p-30">
                                        <div class="cont d-flex align-content-between flex-wrap h-100">
                                            <h6 class="fsz-24 fw-300 w-100"> <strong class="fw-600"> OKODo </strong> <br> hero 11+ <br> black </h6>
                                            <div class="price">
                                                <small class="fsz-10 color-999 d-block text-uppercase"> from </small>
                                                <p class="fsz-20"> $169  </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card-overlay">
                                    <div class="img th-250">
                                        <img src="~/swoo/home_electronic/assets/img/pup_2.png" alt="" class="img-cover">
                                    </div>
                                    <div class="info p-30">
                                        <div class="cont d-flex align-content-between flex-wrap h-100">
                                            <div class="top">
                                                <small class="fsz-11 ltspc-2 text-uppercase color-666 mb-10"> Acelos 3d </small>
                                                <h6 class="fsz-20 fw-500 w-100"> VR Headset and <br> Controllers </h6>
                                            </div>
                                            <a href="https://ui-themez.smartinnovates.net/items/swoo_html/inner_pages/single_product.html" class="butn px-4 py-2 bg-dark text-white rounded-pill fw-600 fsz-12 mt-30"> <span> Shop Now </span> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card-overlay">
                                    <div class="img th-250">
                                        <img src="~/swoo/home_electronic/assets/img/pup_3.png" alt="" class="img-cover">
                                    </div>
                                    <div class="info text-white p-30">
                                        <div class="cont d-flex align-content-between flex-wrap h-100">
                                            <div class="top">
                                                <h6 class="fsz-18 fw-500 w-100 text-uppercase"> massage chair <br> Luxury  </h6>
                                                <small class="fsz-12 mt-10"> Fuka Relax Full Body <br> Massage Chair </small>
                                            </div>
                                            <a href="https://ui-themez.smartinnovates.net/items/swoo_html/inner_pages/single_product.html" class="butn px-4 py-2 bg-white color-000 rounded-pill fw-600 fsz-12 mt-30"> <span> Shop Now </span> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
            </div>
        </section>
        <!--  End pupolar-brands  -->


        <!--  Start suggest-today  -->
        @await Html.PartialAsync("_SuggestToday", Model)
        <!--  End suggest-today  -->


        <!--  Start best-single  -->
        <section class="tc-best-single-style1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="info wow fadeInUp slow" data-wow-delay="0.2s">
                            <small class="fsz-12 text-uppercase color-666 mb-10"> amazon award-winning speaker </small>
                            <h3 class="fsz-35 fw-bold"> Devialet Phantom <br> II <span class="fw-300"> Speaker </span> </h3>
                            <div class="price mt-40">
                                <small class="fsz-10 color-666 text-uppercase me-4"> Starting at <br> Price </small>
                                <span class="fsz-26 color-green1 lh-1"> $1,590 </span>
                            </div>
                            <div class="main-img th-280">
                                <img src="~/swoo/home_electronic/assets/img/products/prod21.png" alt="" class="img-contain">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 wow fadeInUp slow" data-wow-delay="0.4s">
                        <div class="title mb-40">
                            <div class="row align-items-center">
                                <div class="col-lg-8">
                                    <h3 class="fsz-30"> Best Selling Speakers </h3>
                                </div>
                                <div class="col-lg-4 text-lg-end mt-4 mt-lg-0">
                                    <div class="arrows">
                                        <a href="#0" class="swiper-prev"> <i class="fal fa-chevron-left"></i> </a>
                                        <a href="#0" class="swiper-next"> <i class="fal fa-chevron-right"></i> </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="best-single-slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="product-card">
                                        <div class="top">
                                            <div class="icons">
                                                <a href="#0" class="icon fav"> <i class="fal fa-heart"></i> </a>
                                                <a href="#0" class="icon"> <i class="fal fa-sync"></i> </a>
                                                <a href="/assets/img/products/prod22.png" class="icon" data-fancybox="deal"> <i class="fal fa-eye"></i> </a>
                                            </div>
                                        </div>
                                        <a href="https://ui-themez.smartinnovates.net/items/swoo_html/inner_pages/single_product.html" class="img th-160 mb-20 d-block">
                                            <img src="~/swoo/home_electronic/assets/img/products/prod22.png" alt="" class="img-contain">
                                        </a>
                                        <div class="info">
                                            <div class="tags">
                                                <span class="label fsz-11 py-1 px-3 rounded-pill bg-cyan1 text-white text-uppercase"> new </span>
                                            </div>
                                            <a href="https://ui-themez.smartinnovates.net/items/swoo_html/inner_pages/single_product.html" class="title fsz-14 mt-15 fw-600 hover-blue1"> B&O Beolit 20 Powerful Portable Wireless Bluetooth </a>
                                            <p class="price mt-2 fsz-20"> $159.00 </p>
                                        </div>
                                        <a href="#0" class="cart-btn addCart"> <i class="la la-cart-plus me-1"></i> Add To Cart </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-card">
                                        <div class="top">
                                            <small class="fsz-11 py-1 px-3 rounded-pill color-red1 border-red1 border"> 0% Installment </small>
                                            <div class="icons">
                                                <a href="#0" class="icon fav"> <i class="fal fa-heart"></i> </a>
                                                <a href="#0" class="icon"> <i class="fal fa-sync"></i> </a>
                                                <a href="/assets/img/products/prod23.png" class="icon" data-fancybox="deal"> <i class="fal fa-eye"></i> </a>
                                            </div>
                                        </div>
                                        <a href="https://ui-themez.smartinnovates.net/items/swoo_html/inner_pages/single_product.html" class="img th-160 mb-20 d-block">
                                            <img src="~/swoo/home_electronic/assets/img/products/prod23.png" alt="" class="img-contain">
                                        </a>
                                        <div class="info">
                                            <a href="https://ui-themez.smartinnovates.net/items/swoo_html/inner_pages/single_product.html" class="title fsz-14 mt-15 fw-600 hover-blue1"> Marshall Stanmore II Wireless  Bluetooth Speaker </a>
                                            <div class="stars fsz-13 mt-2">
                                                <i class="fas fa-star active"></i>
                                                <i class="fas fa-star active"></i>
                                                <i class="fas fa-star active"></i>
                                                <i class="fas fa-star active"></i>
                                                <i class="fas fa-star active"></i>
                                                <span> (2) </span>
                                            </div>
                                            <p class="price mt-2 fsz-20"> $325.00 - $410.00 </p>
                                        </div>
                                        <a href="#0" class="cart-btn addCart"> <i class="la la-cart-plus me-1"></i> Add To Cart </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-card">
                                        <div class="top">
                                            <div class="icons">
                                                <a href="#0" class="icon fav"> <i class="fal fa-heart"></i> </a>
                                                <a href="#0" class="icon"> <i class="fal fa-sync"></i> </a>
                                                <a href="/assets/img/products/prod24.png" class="icon" data-fancybox="deal"> <i class="fal fa-eye"></i> </a>
                                            </div>
                                        </div>
                                        <a href="https://ui-themez.smartinnovates.net/items/swoo_html/inner_pages/single_product.html" class="img th-160 mb-20 d-block">
                                            <img src="~/swoo/home_electronic/assets/img/products/prod24.png" alt="" class="img-contain">
                                        </a>
                                        <div class="info">
                                            <div class="tags">
                                                <span class="label fsz-11 py-1 px-3 rounded-pill bg-green1 text-white text-uppercase"> top  rated </span>
                                            </div>
                                            <a href="https://ui-themez.smartinnovates.net/items/swoo_html/inner_pages/single_product.html" class="title fsz-14 mt-15 fw-600 hover-blue1"> Bose SoundLink III Speaker </a>
                                            <div class="stars fsz-13 mt-2">
                                                <i class="fas fa-star active"></i>
                                                <i class="fas fa-star active"></i>
                                                <i class="fas fa-star active"></i>
                                                <i class="fas fa-star active"></i>
                                                <i class="fas fa-star active"></i>
                                                <span> (12) </span>
                                            </div>
                                            <p class="price mt-2 fsz-20"> $149.00 </p>
                                        </div>
                                        <a href="#0" class="cart-btn addCart"> <i class="la la-cart-plus me-1"></i> Add To Cart </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--  End best-single  -->


        <!--  Start Just Landing  -->
        @await Html.PartialAsync("_Landing", Model)
        <!--  End Just Landing  -->


        <!--  Start testimonials  -->
        <section class="tc-testimonials-style1 pb-60">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="advc-card card-gray overflow-hidden wow fadeInUp slow" data-wow-delay="0.2s">
                            <div class="title mb-40">
                                <div class="row align-items-center">
                                    <div class="col-lg-8">
                                        <h3 class="fsz-30"> Just Landing </h3>
                                    </div>
                                    <div class="col-lg-4 text-lg-end mt-4 mt-lg-0">
                                        <a href="/" class="more-btn fsz-14 text-uppercase fw-500"> View All <i class="fal fa-angle-right ms-1"></i> </a>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-slider">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="advc-item">
                                            <div class="img">
                                                <img src="~/swoo/home_electronic/assets/img/blog_1.jpg" alt="" class="img-cover">
                                            </div>
                                            <div class="info">
                                                <h6> <a href="/" class="fsz-18 fw-bold hover-blue1"> How to choose size of Television fit to your living room </a> </h6>
                                                <small class="fsz-12 color-666 float-text"> 45 Minutes ago in <a href="/" class="color-000 text-uppercase"> Experience </a> </small>
                                            </div>
                                        </div>
                                        <div class="advc-item">
                                            <div class="img">
                                                <img src="~/swoo/home_electronic/assets/img/blog_2.jpg" alt="" class="img-cover">
                                            </div>
                                            <div class="info">
                                                <h6> <a href="/" class="fsz-18 fw-bold hover-blue1"> Introduce New Generation of Eluxtro Washing Machine 2023 </a> </h6>
                                                <small class="fsz-12 color-666 float-text"> 2 Days ago in <a href="/" class="color-000 text-uppercase"> Technology </a> </small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="testimonials-box card-gray overflow-hidden wow fadeInUp slow" data-wow-delay="0.4s">
                            <div class="title mb-40">
                                <div class="row align-items-center">
                                    <div class="col-lg-8">
                                        <h3 class="fsz-30"> Best Selling Speakers </h3>
                                    </div>
                                    <div class="col-lg-4 text-lg-end mt-4 mt-lg-0">
                                        <div class="arrows">
                                            <a href="#0" class="swiper-prev"> <i class="fal fa-chevron-left"></i> </a>
                                            <a href="#0" class="swiper-next"> <i class="fal fa-chevron-right"></i> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="testi-card">
                                <div class="rate mb-20">
                                    <div class="stars">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <h6 class="fsz-18 fw-bold"> Fast shipping and flexiable price! </h6>
                                </div>
                                <div class="text fsz-14 mb-50">
                                    I used to have experience shopping on much platform as Amozon, Eboy, Esto, etc. And see that Swoo Market really great. It'll be my 1st choice for any shopping experience. Competitive price, fast shipping and support 24/7. Extremely recommended!
                                </div>
                                <div class="btm-items">
                                    <div class="user-info">
                                        <div class="img">
                                            <img src="~/swoo/home_electronic/assets/img/user.jpg" alt="">
                                            <span class="icon"> <i class="fas fa-check"></i> </span>
                                        </div>
                                        <div class="inf">
                                            <h6 class="fsz-18 fw-bold"> Drake N. <small class="fsz-10 color-green1 ms-1 text-uppercase"> Verified Buyer </small> </h6>
                                            <p class="fsz-12 color-666"> Brooklyn, Los Angeles </p>
                                        </div>
                                    </div>
                                    <a href="/" class="text-capitalize color-blue1 text-decoration-underline fsz-11 fw-600"> Marshall Standmore Speaker / Black </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--  End testimonials  -->


        <!--  Start subscribe  -->
        <section class="tc-subscribe-style1">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-lg-6">
                        <h3 class="fsz-30 fw-400"> <strong class="fw-700"> Subscribe </strong> & Get <span class="color-cyan1"> 10% OFF </span> for first order </h3>
                    </div>
                    <div class="col-lg-4 mt-4 mt-lg-0">
                        <div class="form-group">
                            <span class="icon"> <i class="far fa-envelope"></i> </span>
                            <input type="text" placeholder="Enter your email address">
                            <button> Subscibe </button>
                        </div>
                    </div>
                </div>
            </div>
            <img src="~/swoo/home_electronic/assets/img/plane.png" alt="" class="plane">
        </section>
        <!--  End subscribe  -->


        
    </main>
    <!--End-Contents-->

    <!--  Start footer  -->
    <footer class="tc-footer-style1">

        <div class="container">
            <div class="foot-icons py-5 border-1 border-bottom">
                <div class="row">
                    <div class="col-lg-3 border-1 border-end">
                        <p class="fsz-14 text-uppercase"> <span class="icon color-blue1 me-3"> <i class="fal fa-shipping-fast"></i> </span> Free Shipping over $99  </p>
                    </div>
                    <div class="col-lg-3 border-1 border-end">
                        <p class="fsz-14 text-uppercase ps-lg-3"> <span class="icon color-blue1 me-3"> <i class="fal fa-redo"></i> </span> 30 Days money back  </p>
                    </div>
                    <div class="col-lg-3 border-1 border-end">
                        <p class="fsz-14 text-uppercase ps-lg-3"> <span class="icon color-blue1 me-3"> <i class="fal fa-shield"></i> </span> 100% Secure Payment  </p>
                    </div>
                    <div class="col-lg-3">
                        <p class="fsz-14 text-uppercase ps-lg-3"> <span class="icon color-blue1 me-3"> <i class="fal fa-comments-alt"></i> </span> 24/7 Dedicated Support  </p>
                    </div>
                </div>
            </div>
            <div class="foot-content">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="foot-info">
                            <h6 class="fw-bold mb-30 text-capitalize"> Swoo - Online Electronic Market </h6>
                            <small class="fsz-12 text-uppercase"> hotline 24/7 </small>
                            <h5 class="fw-bold color-blue1 mb-20"> (025) 3686 25 16 </h5>
                            <a href="/"> 257 Thatcher Road St, Brooklyn, Manhattan, <br> NY 10092 </a>
                            <a href="/"> contact@swateletro.com </a>
                            <div class="foot-social mt-40">
                                <a href="/"> <i class="fab fa-twitter"></i> </a>
                                <a href="/"> <i class="fab fa-facebook-f"></i> </a>
                                <a href="/"> <i class="fab fa-instagram"></i> </a>
                                <a href="/"> <i class="fab fa-youtube"></i> </a>
                                <a href="/"> <i class="fab fa-behance"></i> </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="links-item mt-5 mt-lg-0">
                            <h6 class="fsz-18 mb-30"> Top Categories </h6>
                            <ul class="links">
                                <li> <a href="/"> TV/Televisions </a> </li>
                                <li> <a href="/"> Computers </a> </li>
                                <li> <a href="/"> Laptops </a> </li>
                                <li> <a href="/"> Mobiles & Tablets </a> </li>
                                <li> <a href="/"> Audios </a> </li>
                                <li> <a href="/"> Cameras </a> </li>
                                <li> <a href="/"> Gadget </a> </li>
                                <li> <a href="/"> Sport Equipments </a> </li>
                                <li> <a href="/"> Office </a> </li>
                                <li> <a href="/"> Smart Home </a> </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="links-item mt-5 mt-lg-0">
                            <h6 class="fsz-18 mb-30"> Company </h6>
                            <ul class="links">
                                <li> <a href="/"> About Swoo </a> </li>
                                <li> <a href="/"> Contact </a> </li>
                                <li> <a href="/"> Career </a> </li>
                                <li> <a href="/"> Blog </a> </li>
                                <li> <a href="/"> Sitemap </a> </li>
                                <li> <a href="/"> Store Locations </a> </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="links-item mt-5 mt-lg-0">
                            <h6 class="fsz-18 mb-30"> Help Center </h6>
                            <ul class="links">
                                <li> <a href="/"> Customer Service </a> </li>
                                <li> <a href="/"> Policy </a> </li>
                                <li> <a href="/"> Terms & Conditions </a> </li>
                                <li> <a href="/"> Trach Order </a> </li>
                                <li> <a href="/"> FAQs </a> </li>
                                <li> <a href="/"> My Account </a> </li>
                                <li> <a href="/"> Product Support </a> </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="links-item mt-5 mt-lg-0">
                            <h6 class="fsz-18 mb-30"> Partner </h6>
                            <ul class="links">
                                <li> <a href="/"> Become Seller </a> </li>
                                <li> <a href="/"> Affiliate </a> </li>
                                <li> <a href="/"> Advertise </a> </li>
                                <li> <a href="/"> Partnership </a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="foot">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 text-center text-lg-start">
                        <p class="color-666"> © 2024 <a href="/" class="fw-bold color-000"> SWOO </a>. All Rights Reserved </p>
                    </div>
                    <div class="col-lg-4">
                        <div class="pay text-center my-4 my-lg-0">
                            <img src="~/swoo/home_electronic/assets/img/pay/pay1.png" alt="" class="mx-2">
                            <img src="~/swoo/home_electronic/assets/img/pay/pay2.png" alt="" class="mx-2">
                            <img src="~/swoo/home_electronic/assets/img/pay/pay3.png" alt="" class="mx-2">
                            <img src="~/swoo/home_electronic/assets/img/pay/pay4.png" alt="" class="mx-2">
                            <img src="~/swoo/home_electronic/assets/img/pay/pay5.png" alt="" class="mx-2">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="links lang-links ">
                            <ul class="links-ul justify-content-lg-end justify-content-center">
                                <li class="dropdown">
                                    <a class="dropdown-toggle" href="/" id="navbarDropdown5" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="la la-dollar-sign me-1"></i> USD
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown5">
                                      <li><a class="dropdown-item" href="/">USD</a></li>
                                      <li><a class="dropdown-item" href="/">USD</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" href="/" id="navbarDropdown6" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <img src="~/swoo/home_electronic/assets/img/eng.png" alt="" class="me-2 icon-15"> Eng
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown6">
                                      <li><a class="dropdown-item" href="/">Arabic</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mob-navigation d-flex d-lg-none">
            <ul>
                <li class="list">
                    <a href="#0">
                        <span class="icon"> <i class="las la-sync-alt"></i> </span>
                        <span class="text">Compare</span>
                    </a>
                </li>
                <li class="list">
                    <a href="#0">
                        <span class="icon"> <i class="lar la-heart"></i> </span>
                        <span class="text">Favorite</span>
                    </a>
                </li>
                <li class="list active">
                    <a href="#0">
                        <span class="icon"> <i class="las la-home"></i> </span>
                        <span class="text">Home</span>
                    </a>
                </li>
                <li class="list">
                    <a href="#0">
                        <span class="icon"> <i class="las la-shopping-bag"></i> </span>
                        <span class="text">Cart</span>
                    </a>
                </li>
                <li class="list">
                    <a href="#0">
                        <span class="icon"> <i class="las la-user"></i> </span>
                        <span class="text">Profile</span>
                    </a>
                </li>
                <li class="indicator"></li>
            </ul>
        </div>

    </footer>
    <!--  End footer  -->

    <!--  Start to top button  -->
    <a href="/" class="to_top">
        <i class="la la-angle-up"></i>
    </a>
    <!--  End to top button  -->

    <!--  request  -->
    <script src="~/swoo/common/assets/js/lib/jquery-3.0.0.min.js"></script>
    <script src="~/swoo/common/assets/js/lib/jquery-migrate-3.0.0.min.js"></script>
    <script src="~/swoo/common/assets/js/lib/bootstrap.bundle.min.js"></script>
    <script src="~/swoo/common/assets/js/lib/wow.min.js"></script>
    <script src="~/swoo/common/assets/js/lib/jquery.fancybox.js"></script>
    <script src="~/swoo/common/assets/js/lib/lity.js"></script>
    <script src="~/swoo/common/assets/js/lib/swiper8-bundle.min.js"></script>
    <script src="~/swoo/common/assets/js/lib/jquery.waypoints.min.js"></script>
    <script src="~/swoo/common/assets/js/lib/jquery.counterup.js"></script>
    <script src="~/swoo/common/assets/js/lib/parallaxie.js"></script>
    <script src="~/swoo/common/assets/js/lib/iziToast.min.js"></script>
    <!-- ===== gsap scripts ===== -->
    <script src="~/swoo/common/assets/js/gsap_lib/gsap.min.js"></script>
    <!-- <script src="~/swoo/common/assets/js/gsap_lib/ScrollSmoother.min.js"></script>
    <script src="~/swoo/common/assets/js/gsap_lib/ScrollTrigger.min.js"></script>
    <script src="~/swoo/common/assets/js/gsap_lib/SplitText.min.js"></script> -->
    <script src="~/swoo/common/assets/js/common_js.js"></script>

    <!-- ===== home scripts ===== -->
    <script src="~/swoo/home_electronic/assets/js/home_1_scripts.js"></script>

</body>


<!-- Mirrored from ui-themez.smartinnovates.net/items/swoo_html/home_electronic/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 01 May 2025 05:25:34 GMT -->
</html>
