                                                <p class="price color-red1 mt-2 fsz-20"> $489.00 <span class="old-price color-999 text-decoration-line-through ms-2 fsz-16"> $619.00 </span> </p>

                                                <p class="price color-red1 mt-2 fsz-20"> $1,759.00 <span class="old-price color-999 text-decoration-line-through ms-2 fsz-16"> $2,069.00 </span> </p>

                                                <p class="price color-red1 mt-2 fsz-20"> $325.00 <span class="old-price color-999 text-decoration-line-through ms-2 fsz-16"> $428.00 </span> </p>

                                                <p class="price color-red1 mt-2 fsz-20"> $489.00 <span class="old-price color-999 text-decoration-line-through ms-2 fsz-16"> $619.00 </span> </p>

                                                <p class="price color-red1 mt-2 fsz-20"> $325.00 <span class="old-price color-999 text-decoration-line-through ms-2 fsz-16"> $428.00 </span> </p> 