@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from ui-themez.smartinnovates.net/items/swoo_html/inner_pages/single_product.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 01 May 2025 06:22:33 GMT -->
<head>
    <!-- Metas -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="HTML5 Template swoo Multi-Purpose themeforest">
    <meta name="description" content="swoo - Multi-Purpose HTML5 Template">
    <meta name="author" content="">

    <!-- Title  -->
    <title>Swoo</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/swoo2/common/assets/img/fav2.html" title="Favicon" sizes="16x16">

    <!-- bootstrap 5 -->
    <link rel="stylesheet" href="~/swoo2/common/assets/css/lib/bootstrap.min.css">

    <!-- font family -->
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&amp;display=swap" rel="stylesheet">

    <!-- fontawesome icons  -->
    <link rel="stylesheet" href="~/swoo2/common/assets/css/lib/all.min.css">
    <!-- fontawesome icons  -->
    <link rel="stylesheet" href="~/swoo2/common/assets/css/lib/line-awesome.css">
    <!-- animate css  -->
    <link rel="stylesheet" href="~/swoo2/common/assets/css/lib/animate.css">
    <!-- fancybox popup  -->
    <link rel="stylesheet" href="~/swoo2/common/assets/css/lib/jquery.fancybox.css">
    <!-- lity popup  -->
    <link rel="stylesheet" href="~/swoo2/common/assets/css/lib/lity.css">
    <!-- swiper slider  -->
    <link rel="stylesheet" href="~/swoo2/common/assets/css/lib/swiper8.min.css">
    <!-- izi toast  -->
    <link rel="stylesheet" href="~/swoo2/common/assets/css/lib/iziToast.min.css">

    <!-- common style -->
    <link rel="stylesheet" href="~/swoo2/common/assets/css/common_style.css">

    <!-- home style -->
    <link rel="stylesheet" href="~/swoo2/assets/css/inner_pages.css">
</head>

<body class="home-style3 sin-prod-pg-1">


<div class="body-container">

    <div class="container container-llgg">

        <!--  Start navbar container  -->
        <div class="tc-navbar-container-style3">

            <div class="wh-box p-15 radius-4 bg-white mt-20">
                <!--  Start top-navbar  -->
                <div class="top-navbar-style3">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="hot-line">
                                    <small> <i class="las la-tty"></i> Hotline 24/7 </small>
                                    <a href="tel:(025)38862516" class="fw-bold"> (025) 3886 25 16 </a>
                                </div>
                            </div>
                            <div class="col-lg-6 mt-4 mt-lg-0">
                                <div class="top-nav-side justify-content-lg-end">
                                    <div class="side-links">
                                        <a href="#" class="me-lg-3"> Sell on Swoo </a>
                                        <a href="#" class="me-lg-4"> Order Tracki </a>
                                    </div>
                                    <ul class="links-ul">
                                        <li class="dropdown">
                                            <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="la la-dollar-sign me-1"></i> USD
                                            </a>
                                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                <li><a class="dropdown-item" href="#">USD</a></li>
                                                <li><a class="dropdown-item" href="#">USD</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a class="dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                <img src="~/swoo2/assets/img/eng.png" alt="" class="me-1 icon-15"> Eng
                                            </a>
                                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                                                <li><a class="dropdown-item" href="#">Arabic</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  End top-navbar  -->

                <!--  Start navbar  -->
                <nav class="navbar navbar-expand-lg navbar-light tc-navbar-style3">
                    <div class="container">
                        <a class="navbar-brand" href="#">
                            <img src="~/swoo2/assets/img/logo.png" alt="" class="logo">
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse ms-lg-5" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown"
                                       aria-expanded="false">
                                        Homes
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                                        <li><a class="dropdown-item" href="https://ui-themez.smartinnovates.net/items/swoo_html/home_baby/index.html">Home Baby</a></li>
                                        <li><a class="dropdown-item" href="https://ui-themez.smartinnovates.net/items/swoo_html/home_electronic/index.html">Home Electronic</a></li>
                                        <li><a class="dropdown-item" href="https://ui-themez.smartinnovates.net/items/swoo_html/home_lighting/index.html">Home Lighting</a></li>
                                        <li><a class="dropdown-item" href="https://ui-themez.smartinnovates.net/items/swoo_html/home_pets/index.html">Home Pets</a></li>
                                        <li><a class="dropdown-item" href="https://ui-themez.smartinnovates.net/items/swoo_html/home_tech/index.html">Home Tech</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown"
                                       aria-expanded="false">
                                        Pages
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                                        <li><a class="dropdown-item" href="about.html">About</a></li>
                                        <li><a class="dropdown-item" href="contact.html">Contact</a></li>
                                        <li><a class="dropdown-item" href="login.html">Login</a></li>
                                        <li><a class="dropdown-item" href="profile.html">Profile</a></li>
                                        <li><a class="dropdown-item" href="register.html">Register</a></li>
                                    </ul>
                                </li> 
                                <li class="dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-bs-toggle="dropdown"
                                       aria-expanded="false">
                                        Products
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown3">
                                        <li><a class="dropdown-item" href="products.html">products</a></li>
                                        <li><a class="dropdown-item" href="products_layout_2.html">products layout 2</a></li>
                                        <li><a class="dropdown-item" href="cart.html">Cart</a></li>
                                        <li><a class="dropdown-item" href="checkout.html">Checkout</a></li>
                                        <li><a class="dropdown-item" href="single_product.html">Single Product</a></li>
                                        <li><a class="dropdown-item" href="single_product_pay.html">Single Product Pay</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="contact.html">Contact</a>
                                </li>
                                <li class="nav-item d-block d-lg-none">
                                    <a class="nav-link" href="login.html">login</a>
                                </li>
                                <li class="nav-item d-block d-lg-none">
                                    <a class="nav-link" href="register.html">Register</a>
                                </li>
                            </ul>
                        </div>
                        <div class="side-nav d-none d-lg-flex">
                            <div class="icons">
                                <a href="#" class="icon-link"> <i class="las la-sync-alt"></i> </a>
                                <a href="#" class="icon-link"> <i class="lar la-heart"></i> </a>
                                <a href="#" class="icon-link"> <i class="las la-user"></i> </a>
                            </div>
                            <div class="text-item ms-3">
                                <small class="fsz-11 color-666 text-uppercase d-block"> welcome </small>
                                <a href="login.html" class="fsz-14 text-uppercase fw-bold"> log in / Register </a>
                            </div>
                            <div class="icons ms-4">
                                <a href="cart.html" class="icon-link"> <i class="las la-shopping-bag"></i> <span class="num">5</span> </a>
                            </div>
                            <div class="text-item ms-3">
                                <small class="fsz-11 color-666 text-uppercase d-block"> cart </small>
                                <a href="cart.html" class="fsz-14 text-uppercase fw-bold"> $1,689.00 </a>
                            </div>
                        </div>
                    </div>
                </nav>
                <!--  End navbar  -->
            </div>

            <!--  Start search nav  -->
            <div class="search-nav-style3">
                <div class="container">
                    <div class="row align-items-center gx-0">
                        <div class="col-lg-5">
                            <div class="search-cat">
                                <div class="input-group flex-nowrap">
                                    <select name="name" class="form-select">
                                        <option value=""> All Categories </option>
                                        <option value=""> Categories 1 </option>
                                        <option value=""> Categories 2 </option>
                                    </select>
                                    <input type="text" class="form-control" placeholder="Search anything...">
                                    <a href="#" class="search-btn"> <i class="fal fa-search"></i> </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7 d-none d-lg-block">
                            <div class="delivery-features ps-lg-5">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <a href="#" class="feat-link"> <i class="la la-shipping-fast fs-6 me-2"></i> <span> free shipping over $199 </span> </a>
                                    </div>
                                    <div class="col-lg-4">
                                        <a href="#" class="feat-link"> <i class="las la-redo-alt fs-6 me-2"></i> <span> 30 days money back </span> </a>
                                    </div>
                                    <div class="col-lg-4">
                                        <a href="#" class="feat-link"> <i class="las la-shield-alt fs-6 me-2"></i> <span> 100% secure payment </span> </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--  End search nav  -->

        </div>
        <!--  End navbar container  -->


        <!--Contents-->
        <main>

            <!--  Start breadcrumb  -->
            <section class="tc-breadcrumb-style6 p-30 radius-4 bg-white mt-3 wow fadeInUp">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb fw-bold mb-0">
                        <li class="breadcrumb-item color-999"><a href="#">Home</a></li>
                        <li class="breadcrumb-item color-999"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item color-999"><a href="#">Top Cell Phones & Tablets</a></li>
                        <li class="breadcrumb-item active color-000" aria-current="page">Somseng Galatero X6 Ultra LTE 4G/128 GB Black Smartphone</li>
                    </ol>
                </nav>
            </section>
            <!--  End breadcrumb  -->


                


            @{
                await Html.RenderPartialAsync("_ProductMainDetails");
            }


            @{
                await Html.RenderPartialAsync("_FrequentlyBoughtTogether");
            }


            @{
                await Html.RenderPartialAsync("_ProductDetails");
            }


            @{
                await Html.RenderPartialAsync("_RelatedProducts");
            }

            @{
                await Html.RenderPartialAsync("_RecentlyViewed");
            }
  
        </main>
        <!--End-Contents-->

    </div>

</div>

    @{
        await Html.RenderPartialAsync("_Footer");
    }

    <!--  Start to top button  -->
    <!-- <a href="#" class="to_top">
        <i class="la la-angle-up"></i>
    </a> -->
    <!--  End to top button  -->

    <!--  request  -->
    <script src="~/swoo2/common/assets/js/lib/jquery-3.0.0.min.js"></script>
    <script src="~/swoo2/common/assets/js/lib/jquery-migrate-3.0.0.min.js"></script>
    <script src="~/swoo2/common/assets/js/lib/bootstrap.bundle.min.js"></script>
    <script src="~/swoo2/common/assets/js/lib/wow.min.js"></script>
    <script src="~/swoo2/common/assets/js/lib/jquery.fancybox.js"></script>
    <script src="~/swoo2/common/assets/js/lib/lity.js"></script>
    <script src="~/swoo2/common/assets/js/lib/swiper8-bundle.min.js"></script>
    <script src="~/swoo2/common/assets/js/lib/jquery.waypoints.min.js"></script>
    <script src="~/swoo2/common/assets/js/lib/jquery.counterup.js"></script>
    <script src="~/swoo2/common/assets/js/lib/parallaxie.js"></script>
    <script src="~/swoo2/common/assets/js/lib/iziToast.min.js"></script>
    <!-- ===== gsap scripts ===== -->
    <script src="~/swoo2/common/assets/js/gsap_lib/gsap.min.js"></script>
    <!-- <script src="~/swoo2/common/assets/js/gsap_lib/ScrollSmoother.min.js"></script>
    <script src="~/swoo2/common/assets/js/gsap_lib/ScrollTrigger.min.js"></script>
    <script src="~/swoo2/common/assets/js/gsap_lib/SplitText.min.js"></script> -->
    <script src="~/swoo2/common/assets/js/common_js.js"></script>

    <!-- ===== home scripts ===== -->
    <!-- <script src="../home_tech/assets/js/home_3_scripts.js"></script> -->

    <!-- ===== innerpages scripts ===== -->
    <script src="~/swoo2/assets/js/inner_pages.js"></script>

</body>


<!-- Mirrored from ui-themez.smartinnovates.net/items/swoo_html/inner_pages/single_product.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 01 May 2025 06:22:37 GMT -->
</html>