@model ECommerceApp.Web.Models.HomeIndexViewModel

<!--  Start best-single  -->
<section class="tc-best-single-style1">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="info wow fadeInUp slow" data-wow-delay="0.2s">
                    <small class="fsz-12 text-uppercase color-666 mb-10"> amazon award-winning speaker </small>
                    <h3 class="fsz-35 fw-bold"> Devialet Phantom <br> II <span class="fw-300"> Speaker </span> </h3>
                    <div class="price mt-40">
                        <small class="fsz-10 color-666 text-uppercase me-4"> Starting at <br> Price </small>
                        <span class="fsz-26 color-green1 lh-1"> $1,590 </span>
                    </div>
                    <div class="main-img th-280">
                        <img src="~/swoo/home_electronic/assets/img/products/prod21.png" alt="" class="img-contain">
                    </div>
                </div>
            </div>
            <div class="col-lg-7 wow fadeInUp slow" data-wow-delay="0.4s">
                <div class="title mb-40">
                    <div class="row align-items-center">
                        <div class="col-lg-8">
                            <h3 class="fsz-30"> Best Selling Speakers </h3>
                        </div>
                        <div class="col-lg-4 text-lg-end mt-4 mt-lg-0">
                            <div class="arrows">
                                <a href="#0" class="swiper-prev"> <i class="fal fa-chevron-left"></i> </a>
                                <a href="#0" class="swiper-next"> <i class="fal fa-chevron-right"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="best-single-slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="product-card">
                                <div class="top">
                                    <div class="icons">
                                        <a href="#0" class="icon fav"> <i class="fal fa-heart"></i> </a>
                                        <a href="#0" class="icon"> <i class="fal fa-sync"></i> </a>
                                        <a href="/assets/img/products/prod22.png" class="icon" data-fancybox="deal"> <i class="fal fa-eye"></i> </a>
                                    </div>
                                </div>
                                <a href="https://ui-themez.smartinnovates.net/items/swoo_html/inner_pages/single_product.html" class="img th-160 mb-20 d-block">
                                    <img src="~/swoo/home_electronic/assets/img/products/prod22.png" alt="" class="img-contain">
                                </a>
                                <div class="info">
                                    <div class="tags">
                                        <span class="label fsz-11 py-1 px-3 rounded-pill bg-cyan1 text-white text-uppercase"> new </span>
                                    </div>
                                    <a href="https://ui-themez.smartinnovates.net/items/swoo_html/inner_pages/single_product.html" class="title fsz-14 mt-15 fw-600 hover-blue1"> B&O Beolit 20 Powerful Portable Wireless Bluetooth </a>
                                    <p class="price mt-2 fsz-20"> $159.00 </p>
                                </div>
                                <a href="#0" class="cart-btn addCart"> <i class="la la-cart-plus me-1"></i> Add To Cart </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="product-card">
                                <div class="top">
                                    <small class="fsz-11 py-1 px-3 rounded-pill color-red1 border-red1 border"> 0% Installment </small>
                                    <div class="icons">
                                        <a href="#0" class="icon fav"> <i class="fal fa-heart"></i> </a>
                                        <a href="#0" class="icon"> <i class="fal fa-sync"></i> </a>
                                        <a href="/assets/img/products/prod23.png" class="icon" data-fancybox="deal"> <i class="fal fa-eye"></i> </a>
                                    </div>
                                </div>
                                <a href="https://ui-themez.smartinnovates.net/items/swoo_html/inner_pages/single_product.html" class="img th-160 mb-20 d-block">
                                    <img src="~/swoo/home_electronic/assets/img/products/prod23.png" alt="" class="img-contain">
                                </a>
                                <div class="info">
                                    <a href="https://ui-themez.smartinnovates.net/items/swoo_html/inner_pages/single_product.html" class="title fsz-14 mt-15 fw-600 hover-blue1"> Marshall Stanmore II Wireless  Bluetooth Speaker </a>
                                    <div class="stars fsz-13 mt-2">
                                        <i class="fas fa-star active"></i>
                                        <i class="fas fa-star active"></i>
                                        <i class="fas fa-star active"></i>
                                        <i class="fas fa-star active"></i>
                                        <i class="fas fa-star active"></i>
                                        <span> (2) </span>
                                    </div>
                                    <p class="price mt-2 fsz-20"> $325.00 - $410.00 </p>
                                </div>
                                <a href="#0" class="cart-btn addCart"> <i class="la la-cart-plus me-1"></i> Add To Cart </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="product-card">
                                <div class="top">
                                    <div class="icons">
                                        <a href="#0" class="icon fav"> <i class="fal fa-heart"></i> </a>
                                        <a href="#0" class="icon"> <i class="fal fa-sync"></i> </a>
                                        <a href="/assets/img/products/prod24.png" class="icon" data-fancybox="deal"> <i class="fal fa-eye"></i> </a>
                                    </div>
                                </div>
                                <a href="https://ui-themez.smartinnovates.net/items/swoo_html/inner_pages/single_product.html" class="img th-160 mb-20 d-block">
                                    <img src="~/swoo/home_electronic/assets/img/products/prod24.png" alt="" class="img-contain">
                                </a>
                                <div class="info">
                                    <div class="tags">
                                        <span class="label fsz-11 py-1 px-3 rounded-pill bg-green1 text-white text-uppercase"> top  rated </span>
                                    </div>
                                    <a href="https://ui-themez.smartinnovates.net/items/swoo_html/inner_pages/single_product.html" class="title fsz-14 mt-15 fw-600 hover-blue1"> Bose SoundLink III Speaker </a>
                                    <div class="stars fsz-13 mt-2">
                                        <i class="fas fa-star active"></i>
                                        <i class="fas fa-star active"></i>
                                        <i class="fas fa-star active"></i>
                                        <i class="fas fa-star active"></i>
                                        <i class="fas fa-star active"></i>
                                        <span> (12) </span>
                                    </div>
                                    <p class="price mt-2 fsz-20"> $149.00 </p>
                                </div>
                                <a href="#0" class="cart-btn addCart"> <i class="la la-cart-plus me-1"></i> Add To Cart </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  End best-single  -->