<!--  Start footer  -->
<footer class="tc-footer-style3">
    <div class="container">
        <div class="footer-content">
            <div class="row">
                <div class="col-lg-4">
                    <div class="foot-info">
                        <h6 class="fsz-18 fw-bold mb-30 text-uppercase"> Swoo - 1st NYC tech online market </h6>
                        <p class="text-uppercase"> hotline 24/7 </p>
                        <h4 class="fsz-30 fw-bold color-green2 mb-30"> (025) 3686 25 16 </h4>
                        <p class="fsz-14 color-000"> 257 Thatcher Road St, Brooklyn, Manhattan, <br> NY 10092 </p>
                        <a class="fsz-14 color-000" href="#"> contact@Swootechmart.com </a>
                        <div class="foot-social mt-40">
                            <a href="#"> <i class="fab fa-twitter"></i> </a>
                            <a href="#"> <i class="fab fa-facebook-f"></i> </a>
                            <a href="#"> <i class="fab fa-instagram"></i> </a>
                            <a href="#"> <i class="fab fa-youtube"></i> </a>
                            <a href="#"> <i class="fab fa-pinterest"></i> </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="links">
                        <h6 class="fsz-18 fw-bold mb-30 text-uppercase"> top Categories </h6>
                        <ul class="links-list">
                            <li> <a href="#"> Laptops </a> </li>
                            <li> <a href="#"> PC & Computers </a> </li>
                            <li> <a href="#"> Cell Phones </a> </li>
                            <li> <a href="#"> Tablets </a> </li>
                            <li> <a href="#"> Gaming & VR </a> </li>
                            <li> <a href="#"> networks </a> </li>
                            <li> <a href="#"> Cameras </a> </li>
                            <li> <a href="#"> Sounds </a> </li>
                            <li> <a href="#"> Office </a> </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="links">
                        <h6 class="fsz-18 fw-bold mb-30 text-uppercase"> company </h6>
                        <ul class="links-list">
                            <li> <a href="#"> About Swoo </a> </li>
                            <li> <a href="#"> Contact </a> </li>
                            <li> <a href="#"> Career </a> </li>
                            <li> <a href="#"> Blog </a> </li>
                            <li> <a href="#"> Sitemap </a> </li>
                            <li> <a href="#"> Store Locations </a> </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="links">
                        <h6 class="fsz-18 fw-bold mb-30 text-uppercase"> help center </h6>
                        <ul class="links-list">
                            <li> <a href="#"> Customer Service </a> </li>
                            <li> <a href="#"> Policy </a> </li>
                            <li> <a href="#"> Terms & Conditions </a> </li>
                            <li> <a href="#"> Trach Order </a> </li>
                            <li> <a href="#"> FAQs </a> </li>
                            <li> <a href="#"> My Account </a> </li>
                            <li> <a href="#"> Product Support </a> </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="links">
                        <h6 class="fsz-18 fw-bold mb-30 text-uppercase"> partner </h6>
                        <ul class="links-list">
                            <li> <a href="#"> Become Seller </a> </li>
                            <li> <a href="#"> Affiliate </a> </li>
                            <li> <a href="#"> Advertise </a> </li>
                            <li> <a href="#"> Partnership </a> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-btm-info mt-60">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="dropdowns">
                            <ul class="links-ul">
                                <li class="dropdown">
                                    <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="la la-dollar-sign me-1"></i> USD
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                      <li><a class="dropdown-item" href="#">USD</a></li>
                                      <li><a class="dropdown-item" href="#">USD</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <img src="~/swoo2/assets/img/eng.png" alt="" class="me-1 icon-15"> Eng
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown1" style="">
                                      <li><a class="dropdown-item" href="#">Arabic</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="subscribe-content">
                            <h6 class="fsz-18 fw-bold mb-30 text-uppercase"> subscribe & get <span class="color-red1"> 10% off </span> for your first order </h6>
                            <div class="form-group">
                                <span class="icon"> <i class="la la-envelope"></i> </span>
                                <input type="text" placeholder="Enter your email address">
                                <button> subscribe <i class="la la-long-arrow-right ms-2 fsz-18"></i> </button>
                            </div>
                            <p class="fsz-13 fst-italic color-666 mt-2"> By subscribing, you're accepted the our <a href="#" class="color-000 text-decoration-underline"> Policy </a> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="foot ">
            <div class="row align-items-center">
                <div class="col-lg-4 text-center text-lg-start">
                    <p class="color-666"> © 2024 <strong class="color-000"> Swoo </strong>. All Rights Reserved </p>
                </div>
                <div class="col-lg-4">
                    <div class="pay-imgs text-center my-3 my-lg-0">
                        <img src="~/swoo2/assets/img/payment/pay1.png" alt="">
                        <img src="~/swoo2/assets/img/payment/pay2.png" alt="">
                        <img src="~/swoo2/assets/img/payment/pay3.png" alt="">
                        <img src="~/swoo2/assets/img/payment/pay4.png" alt="">
                        <img src="~/swoo2/assets/img/payment/pay5.png" alt="">
                    </div>
                </div>
                <div class="col-lg-4 text-center text-lg-end">
                    <a href="#" class="text-primary"> <i class="la la-mobile me-1 fsz-16"></i> Mobile Site </a>
                </div>
            </div>
        </div>
    </div>
    <div class="mob-navigation d-flex d-lg-none">
        <ul>
            <li class="list">
                <a href="#0">
                    <span class="icon"> <i class="las la-sync-alt"></i> </span>
                    <span class="text">Compare</span>
                </a>
            </li>
            <li class="list">
                <a href="#0">
                    <span class="icon"> <i class="lar la-heart"></i> </span>
                    <span class="text">Favorite</span>
                </a>
            </li>
            <li class="list active">
                <a href="#0">
                    <span class="icon"> <i class="las la-home"></i> </span>
                    <span class="text">Home</span>
                </a>
            </li>
            <li class="list">
                <a href="#0">
                    <span class="icon"> <i class="las la-shopping-bag"></i> </span>
                    <span class="text">Cart</span>
                </a>
            </li>
            <li class="list">
                <a href="#0">
                    <span class="icon"> <i class="las la-user"></i> </span>
                    <span class="text">Profile</span>
                </a>
            </li>
            <li class="indicator"></li>
        </ul>
    </div>
</footer>
<!--  End footer  -->