@using ECommerceApp.Domain.Entities
@model ECommerceApp.Web.Models.HomeIndexViewModel

        <!--  Start Just Landing  -->
        <section class="tc-best-seller-style1 wow fadeInUp slow" data-wow-delay="0.2s">
            <div class="container">
                <div class="title mb-40">
                    <div class="row align-items-center">
                        <div class="col-lg-8">
                            <h3 class="fsz-30"> Just Landing </h3>
                        </div>
                        <div class="col-lg-4 text-lg-end mt-4 mt-lg-0">
                            <a href="/" class="more-btn fsz-14 text-uppercase fw-500"> View All <i class="fal fa-angle-right ms-1"></i> </a>
                        </div>
                    </div>
                </div>
                <ul class="nav nav-pills mb-40" id="pills-tabs2" role="tablist">
                    <li class="nav-item" role="presentation">
                      <button class="nav-link active" id="pills-tab20-tab" data-bs-toggle="pill" data-bs-target="#pills-tab5" type="button" role="tab" aria-selected="true">TV/Televisions</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="pills-tab21-tab" data-bs-toggle="pill" data-bs-target="#pills-tab6" type="button" role="tab" aria-selected="false">PC Gaming</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="pills-tab22-tab" data-bs-toggle="pill" data-bs-target="#pills-tab5" type="button" role="tab" aria-selected="false">Computers</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-tab23-tab" data-bs-toggle="pill" data-bs-target="#pills-tab6" type="button" role="tab" aria-selected="false">Cameras</button>
                      </li>
                      <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-tab25-tab" data-bs-toggle="pill" data-bs-target="#pills-tab6" type="button" role="tab" aria-selected="false">Gadgets</button>
                      </li>
                      <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-tab26-tab" data-bs-toggle="pill" data-bs-target="#pills-tab5" type="button" role="tab" aria-selected="false">Smart Home</button>
                      </li>
                      <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-tab27-tab" data-bs-toggle="pill" data-bs-target="#pills-tab6" type="button" role="tab" aria-selected="false">Sport Equipments</button>
                      </li>
                  </ul>
                  <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-tab5" role="tabpanel" aria-labelledby="pills-tab5-tab">
                        <div class="products-slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="product-card">
                                        <div class="top">
                                            <small class="fsz-11 py-1 px-3 rounded-pill color-red1 border-red1 border"> 0% Installment </small>
                                            <div class="icons">
                                                <a href="#0" class="icon fav"> <i class="fal fa-heart"></i> </a>
                                                <a href="#0" class="icon"> <i class="fal fa-sync"></i> </a>
                                                <a href="/assets/img/products/prod25.png" class="icon" data-fancybox="deal"> <i class="fal fa-eye"></i> </a>
                                            </div>
                                        </div>
                                        <a href="https://ui-themez.smartinnovates.net/items/swoo_html/inner_pages/single_product.html" class="img th-160 mb-20 d-block">
                                            <img src="~/swoo/home_electronic/assets/img/products/prod25.png" alt="" class="img-contain">
                                        </a>
                                        <div class="info">
                                            <div class="tags">
                                                <span class="label fsz-11 py-1 px-3 rounded-pill bg-cyan1 text-white text-uppercase"> new </span>
                                            </div>
                                            <a href="https://ui-themez.smartinnovates.net/items/swoo_html/inner_pages/single_product.html" class="title fsz-14 mt-15 fw-600 hover-blue1"> uClever Boost Cube Mini 12V Charge </a>
                                            <div class="stars fsz-13 mt-2">
                                                <i class="fas fa-star active"></i>
                                                <i class="fas fa-star active"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <span> (9) </span>
                                            </div>
                                            <p class="price mt-2 fsz-20"> $209.00 </p>
                                        </div>
                                        <a href="#0" class="cart-btn addCart"> <i class="la la-cart-plus me-1"></i> Add To Cart </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-card">
                                        <div class="top">
                                            <div class="icons">
                                                <a href="#0" class="icon fav"> <i class="fal fa-heart"></i> </a>
                                                <a href="#0" class="icon"> <i class="fal fa-sync"></i> </a>
                                                <a href="/assets/img/products/prod26.png" class="icon" data-fancybox="deal"> <i class="fal fa-eye"></i> </a>
                                            </div>
                                        </div>
                                        <a href="https://ui-themez.smartinnovates.net/items/swoo_html/inner_pages/single_product.html" class="img th-160 mb-20 d-block">
                                            <img src="~/swoo/home_electronic/assets/img/products/prod26.png" alt="" class="img-contain">
                                        </a>
                                        <div class="info">
                                            <div class="tags">
                                                <span class="label fsz-11 py-1 px-3 rounded-pill bg-cyan1 text-white text-uppercase"> new </span>
                                            </div>
                                            <a href="https://ui-themez.smartinnovates.net/items/swoo_html/inner_pages/single_product.html" class="title fsz-14 mt-15 fw-600 hover-blue1"> Devialet PHantom II Wireless Speaker 108db </a>
                                            <div class="stars fsz-13 mt-2">
                                                <i class="fas fa-star active"></i>
                                                <i class="fas fa-star active"></i>
                                                <i class="fas fa-star active"></i>
                                                <i class="fas fa-star active"></i>
                                                <i class="fas fa-star active"></i>
                                                <span> (4) </span>
                                            </div>
                                            <p class="price color-red1 mt-2 fsz-20"> $1,589.00 </p>
                                        </div>
                                        <a href="#0" class="cart-btn addCart"> <i class="la la-cart-plus me-1"></i> Add To Cart </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-card">
                                        <div class="top">
                                            <div class="icons">
                                                <a href="#0" class="icon fav"> <i class="fal fa-heart"></i> </a>
                                                <a href="#0" class="icon"> <i class="fal fa-sync"></i> </a>
                                                <a href="/assets/img/products/prod27.png" class="icon" data-fancybox="deal"> <i class="fal fa-eye"></i> </a>
                                            </div>
                                        </div>
                                        <a href="https://ui-themez.smartinnovates.net/items/swoo_html/inner_pages/single_product.html" class="img th-160 mb-20 d-block">
                                            <img src="~/swoo/home_electronic/assets/img/products/prod27.png" alt="" class="img-contain">
                                        </a>
                                        <div class="info">
                                            <div class="tags">
                                                <span class="label fsz-11 py-1 px-3 rounded-pill bg-cyan1 text-white text-uppercase"> new </span>
                                            </div>
                                            <a href="https://ui-themez.smartinnovates.net/items/swoo_html/inner_pages/single_product.html" class="title fsz-14 mt-15 fw-600 hover-blue1"> TOSHIRO Smart Inveter 12L Washing Machine </a>
                                            <p class="price mt-2 fsz-20"> $1,029.50 </p>
                                        </div>
                                        <a href="#0" class="cart-btn addCart"> <i class="la la-cart-plus me-1"></i> Add To Cart </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-card">
                                        <div class="top">
                                            <div class="icons">
                                                <a href="#0" class="icon fav"> <i class="fal fa-heart"></i> </a>
                                                <a href="#0" class="icon"> <i class="fal fa-sync"></i> </a>
                                                <a href="/assets/img/products/prod28.png" class="icon" data-fancybox="deal"> <i class="fal fa-eye"></i> </a>
                                            </div>
                                        </div>
                                        <a href="https://ui-themez.smartinnovates.net/items/swoo_html/inner_pages/single_product.html" class="img th-160 mb-20 d-block">
                                            <img src="~/swoo/home_electronic/assets/img/products/prod28.png" alt="" class="img-contain">
                                        </a>
                                        <div class="info">
                                            <div class="tags">
                                                <span class="label fsz-11 py-1 px-3 rounded-pill bg-cyan1 text-white text-uppercase"> new </span>
                                            </div>
                                            <a href="https://ui-themez.smartinnovates.net/items/swoo_html/inner_pages/single_product.html" class="title fsz-14 mt-15 fw-600 hover-blue1"> TORO Smart Self Balancing Transporter Scooter </a>
                                            <div class="stars fsz-13 mt-2">
                                                <i class="fas fa-star active"></i>
                                                <i class="fas fa-star active"></i>
                                                <i class="fas fa-star active"></i>
                                                <i class="fas fa-star active"></i>
                                                <i class="fas fa-star active"></i>
                                                <span> (2) </span>
                                            </div>
                                            <p class="price mt-2 fsz-20"> $1,512.90 </p>
                                        </div>
                                        <a href="#0" class="cart-btn addCart"> <i class="la la-cart-plus me-1"></i> Add To Cart </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-card">
                                        <div class="top">
                                            <small class="fsz-11 py-1 px-3 rounded-pill color-red1 border-red1 border"> 0% Installment </small>
                                            <div class="icons">
                                                <a href="#0" class="icon fav"> <i class="fal fa-heart"></i> </a>
                                                <a href="#0" class="icon"> <i class="fal fa-sync"></i> </a>
                                                <a href="/assets/img/products/prod29.png" class="icon" data-fancybox="deal"> <i class="fal fa-eye"></i> </a>
                                            </div>
                                        </div>
                                        <a href="https://ui-themez.smartinnovates.net/items/swoo_html/inner_pages/single_product.html" class="img th-160 mb-20 d-block">
                                            <img src="~/swoo/home_electronic/assets/img/products/prod29.png" alt="" class="img-contain">
                                        </a>
                                        <div class="info">
                                            <div class="tags">
                                                <span class="label fsz-11 py-1 px-3 rounded-pill bg-cyan1 text-white text-uppercase"> new </span>
                                                <span class="label fsz-11 py-1 px-3 rounded-pill bg-green1 text-white text-uppercase"> top  rated </span>
                                            </div>
                                            <a href="https://ui-themez.smartinnovates.net/items/swoo_html/inner_pages/single_product.html" class="title fsz-14 mt-15 fw-600 hover-blue1"> Onyx HK Studio 2 Speaker </a>
                                            <div class="stars fsz-13 mt-2">
                                                <i class="fas fa-star active"></i>
                                                <i class="fas fa-star active"></i>
                                                <i class="fas fa-star active"></i>
                                                <i class="fas fa-star active"></i>
                                                <i class="fas fa-star active"></i>
                                                <span> (12) </span>
                                            </div>
                                            <p class="price mt-2 fsz-20"> $205.00 - $410.00 </p>
                                        </div>
                                        <a href="#0" class="cart-btn addCart"> <i class="la la-cart-plus me-1"></i> Add To Cart </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-card">
                                        <div class="top">
                                            <div class="icons">
                                                <a href="#0" class="icon fav"> <i class="fal fa-heart"></i> </a>
                                                <a href="#0" class="icon"> <i class="fal fa-sync"></i> </a>
                                                <a href="/assets/img/products/prod8.png" class="icon" data-fancybox="deal"> <i class="fal fa-eye"></i> </a>
                                            </div>
                                        </div>
                                        <a href="https://ui-themez.smartinnovates.net/items/swoo_html/inner_pages/single_product.html" class="img th-160 mb-20 d-block">
                                            <img src="~/swoo/home_electronic/assets/img/products/prod8.png" alt="" class="img-contain">
                                        </a>
                                        <div class="info">
                                            <div class="tags">
                                                <span class="label fsz-11 py-1 px-3 rounded-pill bg-cyan1 text-white text-uppercase"> new </span>
                                                <span class="label fsz-11 py-1 px-3 rounded-pill bg-blue1 text-white text-uppercase"> best seller </span>
                                            </div>
                                            <a href="https://ui-themez.smartinnovates.net/items/swoo_html/inner_pages/single_product.html" class="title fsz-14 mt-15 fw-600 hover-blue1"> Shorp 49" Class FHD (1080p) Android Led TV </a>
                                            <p class="price mt-2 fsz-20"> $3,029.50 </p>
                                        </div>
                                        <a href="#0" class="cart-btn addCart"> <i class="la la-cart-plus me-1"></i> Add To Cart </a>
                                    </div>
                                </div>
                            </div>
                            <div class="slider-controls">
                                <div class="swiper-button-prev"></div>
                                <div class="swiper-pagination"></div>
                                <div class="swiper-button-next"></div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-tab6" role="tabpanel" aria-labelledby="pills-tab6-tab">
                        <div class="products-slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="product-card">
                                        <div class="top">
                                            <small class="fsz-11 py-1 px-3 rounded-pill color-red1 border-red1 border"> 0% Installment </small>
                                            <div class="icons">
                                                <a href="#0" class="icon fav"> <i class="fal fa-heart"></i> </a>
                                                <a href="#0" class="icon"> <i class="fal fa-sync"></i> </a>
                                                <a href="/assets/img/products/prod3.png" class="icon" data-fancybox="deal"> <i class="fal fa-eye"></i> </a>
                                            </div>
                                        </div>
                                        <a href="https://ui-themez.smartinnovates.net/items/swoo_html/inner_pages/single_product.html" class="img th-160 mb-20 d-block">
                                            <img src="~/swoo/home_electronic/assets/img/products/prod3.png" alt="" class="img-contain">
                                        </a>
                                        <div class="info">
                                            <div class="tags">
                                                <span class="label fsz-11 py-1 px-3 rounded-pill bg-red1 text-white text-uppercase"> 15% OFF </span>
                                                <span class="label fsz-11 py-1 px-3 rounded-pill bg-blue1 text-white text-uppercase"> best seller </span>
                                            </div>
                                            <a href="https://ui-themez.smartinnovates.net/items/swoo_html/inner_pages/single_product.html" class="title fsz-14 mt-15 fw-600 hover-blue1"> Durotan Manual Espresso Machine, Coffe Maker </a>
                                            <div class="stars fsz-13 mt-2">
                                                <i class="fas fa-star active"></i>
                                                <i class="fas fa-star active"></i>
                                                <i class="fas fa-star active"></i>
                                                <i class="fas fa-star active"></i>
                                                <i class="fas fa-star active"></i>
                                                <span> (34) </span>
                                            </div>
                                            <p class="price color-red1 mt-2 fsz-20"> $489.00 <span class="old-price color-999 text-decoration-line-through ms-2 fsz-16"> $619.00 </span> </p>
                                        </div>
                                        <a href="#0" class="cart-btn addCart"> <i class="la la-cart-plus me-1"></i> Add To Cart </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-card">
                                        <div class="top">
                                            <div class="icons">
                                                <a href="#0" class="icon fav"> <i class="fal fa-heart"></i> </a>
                                                <a href="#0" class="icon"> <i class="fal fa-sync"></i> </a>
                                                <a href="/assets/img/products/prod7.png" class="icon" data-fancybox="deal"> <i class="fal fa-eye"></i> </a>
                                            </div>
                                        </div>
                                        <a href="https://ui-themez.smartinnovates.net/items/swoo_html/inner_pages/single_product.html" class="img th-160 mb-20 d-block">
                                            <img src="~/swoo/home_electronic/assets/img/products/prod7.png" alt="" class="img-contain">
                                        </a>
                                        <div class="info">
                                            <div class="tags">
                                                <span class="label fsz-11 py-1 px-3 rounded-pill bg-red1 text-white text-uppercase"> 15% OFF </span>
                                                <span class="label fsz-11 py-1 px-3 rounded-pill bg-blue1 text-white text-uppercase"> best seller </span>
                                            </div>
                                            <a href="https://ui-themez.smartinnovates.net/items/swoo_html/inner_pages/single_product.html" class="title fsz-14 mt-15 fw-600 hover-blue1"> Conar DSLR Camera EOS II, Only Body </a>
                                            <div class="stars fsz-13 mt-2">
                                                <i class="fas fa-star active"></i>
                                                <i class="fas fa-star active"></i>
                                                <i class="fas fa-star active"></i>
                                                <i class="fas fa-star active"></i>
                                                <i class="fas fa-star"></i>
                                                <span> (5) </span>
                                            </div>
                                            <p class="price color-red1 mt-2 fsz-20"> $579.00 <span class="old-price color-999 text-decoration-line-through ms-2 fsz-16"> $819.00 </span> </p>
                                        </div>
                                        <a href="#0" class="cart-btn addCart"> <i class="la la-cart-plus me-1"></i> Add To Cart </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-card">
                                        <div class="top">
                                            <div class="icons">
                                                <a href="#0" class="icon fav"> <i class="fal fa-heart"></i> </a>
                                                <a href="#0" class="icon"> <i class="fal fa-sync"></i> </a>
                                                <a href="/assets/img/products/prod8.png" class="icon" data-fancybox="deal"> <i class="fal fa-eye"></i> </a>
                                            </div>
                                        </div>
                                        <a href="https://ui-themez.smartinnovates.net/items/swoo_html/inner_pages/single_product.html" class="img th-160 mb-20 d-block">
                                            <img src="~/swoo/home_electronic/assets/img/products/prod8.png" alt="" class="img-contain">
                                        </a>
                                        <div class="info">
                                            <div class="tags">
                                                <span class="label fsz-11 py-1 px-3 rounded-pill bg-cyan1 text-white text-uppercase"> new </span>
                                                <span class="label fsz-11 py-1 px-3 rounded-pill bg-blue1 text-white text-uppercase"> best seller </span>
                                            </div>
                                            <a href="https://ui-themez.smartinnovates.net/items/swoo_html/inner_pages/single_product.html" class="title fsz-14 mt-15 fw-600 hover-blue1"> Shorp 49" Class FHD (1080p) Android Led TV </a>
                                            <p class="price mt-2 fsz-20"> $3,029.50 </p>
                                        </div>
                                        <a href="#0" class="cart-btn addCart"> <i class="la la-cart-plus me-1"></i> Add To Cart </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-card">
                                        <div class="top">
                                            <small class="fsz-11 py-1 px-3 rounded-pill color-red1 border-red1 border"> 0% Installment </small>
                                            <div class="icons">
                                                <a href="#0" class="icon fav"> <i class="fal fa-heart"></i> </a>
                                                <a href="#0" class="icon"> <i class="fal fa-sync"></i> </a>
                                                <a href="/assets/img/products/prod9.png" class="icon" data-fancybox="deal"> <i class="fal fa-eye"></i> </a>
                                            </div>
                                        </div>
                                        <a href="https://ui-themez.smartinnovates.net/items/swoo_html/inner_pages/single_product.html" class="img th-160 mb-20 d-block">
                                            <img src="~/swoo/home_electronic/assets/img/products/prod9.png" alt="" class="img-contain">
                                        </a>
                                        <div class="info">
                                            <div class="tags">
                                                <span class="label fsz-11 py-1 px-3 rounded-pill bg-blue1 text-white text-uppercase"> best seller </span>
                                            </div>
                                            <a href="https://ui-themez.smartinnovates.net/items/swoo_html/inner_pages/single_product.html" class="title fsz-14 mt-15 fw-600 hover-blue1"> Gigabyte PC Gaming Case, Core i7, 32GB Ram </a>
                                            <div class="stars fsz-13 mt-2">
                                                <i class="fas fa-star active"></i>
                                                <i class="fas fa-star active"></i>
                                                <i class="fas fa-star active"></i>
                                                <i class="fas fa-star active"></i>
                                                <i class="fas fa-star active"></i>
                                                <span> (2) </span>
                                            </div>
                                            <p class="price mt-2 fsz-20"> $1,279.00 </p>
                                        </div>
                                        <a href="#0" class="cart-btn addCart"> <i class="la la-cart-plus me-1"></i> Add To Cart </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-card">
                                        <div class="top">
                                            <small class="fsz-11 py-1 px-3 rounded-pill color-red1 border-red1 border"> 0% Installment </small>
                                            <div class="icons">
                                                <a href="#0" class="icon fav"> <i class="fal fa-heart"></i> </a>
                                                <a href="#0" class="icon"> <i class="fal fa-sync"></i> </a>
                                                <a href="/assets/img/products/prod10.png" class="icon" data-fancybox="deal"> <i class="fal fa-eye"></i> </a>
                                            </div>
                                        </div>
                                        <a href="https://ui-themez.smartinnovates.net/items/swoo_html/inner_pages/single_product.html" class="img th-160 mb-20 d-block">
                                            <img src="~/swoo/home_electronic/assets/img/products/prod10.png" alt="" class="img-contain">
                                        </a>
                                        <div class="info">
                                            <div class="tags">
                                                <span class="label fsz-11 py-1 px-3 rounded-pill bg-blue1 text-white text-uppercase"> best seller </span>
                                                <span class="label fsz-11 py-1 px-3 rounded-pill bg-green1 text-white text-uppercase"> top  rated </span>
                                            </div>
                                            <a href="https://ui-themez.smartinnovates.net/items/swoo_html/inner_pages/single_product.html" class="title fsz-14 mt-15 fw-600 hover-blue1"> Sceptre 32" Internet TV </a>
                                            <div class="stars fsz-13 mt-2">
                                                <i class="fas fa-star active"></i>
                                                <i class="fas fa-star active"></i>
                                                <i class="fas fa-star active"></i>
                                                <i class="fas fa-star active"></i>
                                                <i class="fas fa-star active"></i>
                                                <span> (12) </span>
                                            </div>
                                            <p class="price mt-2 fsz-20"> $610.00 </p>
                                        </div>
                                        <a href="#0" class="cart-btn addCart"> <i class="la la-cart-plus me-1"></i> Add To Cart </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-card">
                                        <div class="top">
                                            <div class="icons">
                                                <a href="#0" class="icon fav"> <i class="fal fa-heart"></i> </a>
                                                <a href="#0" class="icon"> <i class="fal fa-sync"></i> </a>
                                                <a href="/assets/img/products/prod8.png" class="icon" data-fancybox="deal"> <i class="fal fa-eye"></i> </a>
                                            </div>
                                        </div>
                                        <a href="https://ui-themez.smartinnovates.net/items/swoo_html/inner_pages/single_product.html" class="img th-160 mb-20 d-block">
                                            <img src="~/swoo/home_electronic/assets/img/products/prod8.png" alt="" class="img-contain">
                                        </a>
                                        <div class="info">
                                            <div class="tags">
                                                <span class="label fsz-11 py-1 px-3 rounded-pill bg-cyan1 text-white text-uppercase"> new </span>
                                                <span class="label fsz-11 py-1 px-3 rounded-pill bg-blue1 text-white text-uppercase"> best seller </span>
                                            </div>
                                            <a href="https://ui-themez.smartinnovates.net/items/swoo_html/inner_pages/single_product.html" class="title fsz-14 mt-15 fw-600 hover-blue1"> Shorp 49" Class FHD (1080p) Android Led TV </a>
                                            <p class="price mt-2 fsz-20"> $3,029.50 </p>
                                        </div>
                                        <a href="#0" class="cart-btn addCart"> <i class="la la-cart-plus me-1"></i> Add To Cart </a>
                                    </div>
                                </div>
                            </div>
                            <div class="slider-controls">
                                <div class="swiper-button-prev"></div>
                                <div class="swiper-pagination"></div>
                                <div class="swiper-button-next"></div>
                            </div>
                        </div>
                    </div>
                  </div>
            </div>
        </section>
        <!--  End Just Landing  -->


