<!--  Start payment side  -->
<div class="payment-side">
    <div class="payment-card">
        <small class="fsz-12 color-666 text-uppercase mb-2"> Total Price: </small>
        <h5 class="fsz-30 fw-bold"> $609.00 </h5>
        <div class="affirm fsz-12 lh-1 d-flex align-items-end py-3 border-bottom">
            <img src="~/swoo2/assets/img/affirm.png" alt="" class="logo me-3 pb-1">
            <strong class="text-danger me-1"> $49/m </strong>
            <span> in 12 months. </span>
            <a href="#" class="text-decoration-underline text-primary"> See more </a>
        </div>
        <p class="fsz-12 mt-3"> <i class="fas fa-check-circle color-green2 me-1"></i> In stock </p>
        <div class="add-more">
            <span class="qt-minus"><i class="fas fa-minus"></i></span>
            <input type="text" class="qt border-0" value="1">
            <span class="qt-plus"><i class="fas fa-plus"></i></span>
        </div>
        <a href="#" class="butn bg-green2 text-white radius-4 fw-500 fsz-12 text-uppercase text-center mt-10 w-100 py-3"> <span> Add To Cart </span> </a>
        <a href="#" class="butn bg-orange1 color-000 radius-4 fw-500 fsz-12 text-uppercase text-center mt-10 w-100 py-3"> <span> buy with <img src="~/swoo2/assets/img/paypal.png" alt="" class="ms-1"> </span> </a>
        <div class="d-flex color-666 fsz-13 py-3 border-bottom">
            <a href="#" class="me-4 pe-4 border-end"> <i class="fas fa-heart color-green2 me-1"></i> Wishlist added </a>
            <a href="#" class=""> <i class="fas fa-redo me-1"></i> Compare </a>
        </div>
        <small class="fsz-12 color-000 mb-2 mt-3"> Guaranteed Safe Checkout </small>
        <div class="pay-logos mt-1">
            <img src="~/swoo2/assets/img/pay.png" alt="" class="w-100">
        </div>
    </div>
    <div class="payment-card">
        <span class="q-order py-2 px-3 radius-3 bg-333 text-white"> <i class="la la-tty me-1"></i> <small> Quick Order 24/7 </small> </span>
        <h5 class="fsz-22 mt-3 fw-bold"> (025) 3886 25 16 </h5>
    </div>
    <p class="color-000 mt-15"> <i class="fal fa-shipping-fast me-2"></i> <span class="color-666"> Ships from </span> <strong> United States </strong> </p>
</div>
<!--  End payment side  -->
