@model ECommerceApp.Web.Models.HomeIndexViewModel

<!--  Start pupolar-brands  -->
<section class="tc-pupolar-brands-style1 wow fadeInUp slow" data-wow-delay="0.2s">
    <div class="container overflow-hidden">
        <div class="content">
            <div class="title mb-40">
                <div class="row align-items-center">
                    <div class="col-lg-8">
                        <h3 class="fsz-30"> Popular Brands </h3>
                    </div>
                    <div class="col-lg-4 text-lg-end mt-4 mt-lg-0">
                        <a href="https://ui-themez.smartinnovates.net/items/swoo_html/inner_pages/products.html" class="more-btn fsz-14 text-uppercase fw-500"> View All <i class="fal fa-angle-right ms-1"></i> </a>
                    </div>
                </div>
            </div>
            <div class="pupolar-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="card-overlay">
                            <div class="img th-250">
                                <img src="~/swoo/home_electronic/assets/img/pup_1.png" alt="" class="img-cover">
                            </div>
                            <div class="info text-white p-30">
                                <div class="cont d-flex align-content-between flex-wrap h-100">
                                    <h6 class="fsz-24 fw-300 w-100"> <strong class="fw-600"> OKODo </strong> <br> hero 11+ <br> black </h6>
                                    <div class="price">
                                        <small class="fsz-10 color-999 d-block text-uppercase"> from </small>
                                        <p class="fsz-20"> $169  </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card-overlay">
                            <div class="img th-250">
                                <img src="~/swoo/home_electronic/assets/img/pup_2.png" alt="" class="img-cover">
                            </div>
                            <div class="info p-30">
                                <div class="cont d-flex align-content-between flex-wrap h-100">
                                    <div class="top">
                                        <small class="fsz-11 ltspc-2 text-uppercase color-666 mb-10"> Acelos 3d </small>
                                        <h6 class="fsz-20 fw-500 w-100"> VR Headset and <br> Controllers </h6>
                                    </div>
                                    <a href="https://ui-themez.smartinnovates.net/items/swoo_html/inner_pages/single_product.html" class="butn px-4 py-2 bg-dark text-white rounded-pill fw-600 fsz-12 mt-30"> <span> Shop Now </span> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card-overlay">
                            <div class="img th-250">
                                <img src="~/swoo/home_electronic/assets/img/pup_3.png" alt="" class="img-cover">
                            </div>
                            <div class="info text-white p-30">
                                <div class="cont d-flex align-content-between flex-wrap h-100">
                                    <div class="top">
                                        <h6 class="fsz-18 fw-500 w-100 text-uppercase"> massage chair <br> Luxury  </h6>
                                        <small class="fsz-12 mt-10"> Fuka Relax Full Body <br> Massage Chair </small>
                                    </div>
                                    <a href="https://ui-themez.smartinnovates.net/items/swoo_html/inner_pages/single_product.html" class="butn px-4 py-2 bg-white color-000 rounded-pill fw-600 fsz-12 mt-30"> <span> Shop Now </span> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
    </div>
</section>
<!--  End pupolar-brands  -->