<!--  Start product filters  -->
<div class="filters">
    <div class="category-box">
        <h6 class="fsz-18 fw-bold text-uppercase mb-20"> categories </h6>
        <a href="#" class="cat-btn fsz-12 fw-bold py-2 px-3 bg-white radius-3 hover-bg-green2"> <i class="la la-angle-left me-2"></i> All Categories </a>
        <div class="cat-list pt-20">
            <h6 class="fsz-14 fw-bold mb-20"> Cell Phones & Tablets </h6>
            <ul>
                <li> <a href="#"> All </a> </li>
                <li> <a href="#"> Iphone </a> </li>
                <li> <a href="#"> Samsung </a> </li>
                <li> <a href="#"> Xiaomi </a> </li>
                <li> <a href="#"> Asus </a> </li>
                <li> <a href="#"> Oppo </a> </li>
                <li> <a href="#"> Gaming Smartphone </a> </li>
                <li> <a href="#"> Ipad </a> </li>
                <li> <a href="#"> Window Tablets </a> </li>
                <li> <a href="#"> eReader </a> </li>
                <li> <a href="#"> Smartphone Chargers </a> </li>
                <li> <a href="#"> 5G Support Smartphone </a> </li>
                <li> <a href="#"> Smartphone Accessories </a> </li>
                <li> <a href="#"> Tablets Accessories </a> </li>
                <li> <a href="#"> Cell Phones <i class="la la-angle-left"></i> $200 </a> </li>
            </ul>
        </div>
    </div>
    <div class="filter-box mt-10">
        <div class="title mb-20">
            <h6 class="fsz-18 fw-bold text-uppercase"> categories </h6>
            <a href="#" class="rest-btn hover-green2"> <i class="la la-sync me-1"></i> Reset All </a>
        </div>
        <div class="selected-filters">
            <span class="selected-item"> Min: $45.00 <i class="la la-times ms-1"></i> </span>
            <span class="selected-item"> 10.9 inch <i class="la la-times ms-1"></i> </span>
            <span class="selected-item"> Color: Red <i class="la la-times ms-1"></i> </span>
            <span class="selected-item"> 128GB <i class="la la-times ms-1"></i> </span>
        </div>
        <div class="filter-groups">
            <div class="filter-group">
                <div class="group-title">
                    <strong class="fsz-14"> By Brands </strong>
                    <span class="arrow"> <i class="la la-angle-up"></i> </span>
                </div>
                <div class="group-body">
                    <div class="search-group">
                        <input type="text" placeholder="" class="form-control">
                        <button class="search-btn"> <i class="la la-search"></i> </button>
                    </div>
                    <div class="scroll-cont">
                        <div class="check-group check-brands">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="brand1">
                                <label class="form-check-label" for="brand1">
                                    <div class="d-inline-flex align-items-center">
                                        <img src="~/swoo2/assets/img/brands/brand1.png" alt="" class="brand-img">
                                        <span class="color-888 ms-2"> (14) </span>
                                    </div>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="brand2">
                                <label class="form-check-label" for="brand2">
                                    <div class="d-inline-flex align-items-center">
                                        <img src="~/swoo2/assets/img/brands/brand2.png" alt="" class="brand-img">
                                        <span class="color-888 ms-2"> (6) </span>
                                    </div>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="brand3">
                                <label class="form-check-label" for="brand3">
                                    <div class="d-inline-flex align-items-center">
                                        <img src="~/swoo2/assets/img/brands/brand3.png" alt="" class="brand-img">
                                        <span class="color-888 ms-2"> (7) </span>
                                    </div>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="brand4">
                                <label class="form-check-label" for="brand4">
                                    <div class="d-inline-flex align-items-center">
                                        <img src="~/swoo2/assets/img/brands/brand4.png" alt="" class="brand-img">
                                        <span class="color-888 ms-2"> (18) </span>
                                    </div>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="brand5">
                                <label class="form-check-label" for="brand5">
                                    <div class="d-inline-flex align-items-center">
                                        <img src="~/swoo2/assets/img/brands/brand5.png" alt="" class="brand-img">
                                        <span class="color-888 ms-2"> (1) </span>
                                    </div>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="brand6">
                                <label class="form-check-label" for="brand6">
                                    <div class="d-inline-flex align-items-center">
                                        <img src="~/swoo2/assets/img/brands/brand1.png" alt="" class="brand-img">
                                        <span class="color-888 ms-2"> (14) </span>
                                    </div>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="brand7">
                                <label class="form-check-label" for="brand7">
                                    <div class="d-inline-flex align-items-center">
                                        <img src="~/swoo2/assets/img/brands/brand2.png" alt="" class="brand-img">
                                        <span class="color-888 ms-2"> (7) </span>
                                    </div>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="brand8">
                                <label class="form-check-label" for="brand8">
                                    <div class="d-inline-flex align-items-center">
                                        <img src="~/swoo2/assets/img/brands/brand3.png" alt="" class="brand-img">
                                        <span class="color-888 ms-2"> (18) </span>
                                    </div>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="brand9">
                                <label class="form-check-label" for="brand9">
                                    <div class="d-inline-flex align-items-center">
                                        <img src="~/swoo2/assets/img/brands/brand4.png" alt="" class="brand-img">
                                        <span class="color-888 ms-2"> (4) </span>
                                    </div>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="brand10">
                                <label class="form-check-label" for="brand10">
                                    <div class="d-inline-flex align-items-center">
                                        <img src="~/swoo2/assets/img/brands/brand5.png" alt="" class="brand-img">
                                        <span class="color-888 ms-2"> (1) </span>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="filter-group">
                <div class="group-title">
                    <strong class="fsz-14"> By Price </strong>
                    <span class="arrow"> <i class="la la-angle-up"></i> </span>
                </div>
                <div class="group-body">
                    <div class="price-card">
                        <div class="slider">
                            <div class="progress"></div>
                        </div>
                        <div class="range-input">
                            <input type="range" class="range-min" min="0" max="10000" value="0" step="100">
                            <input type="range" class="range-max" min="0" max="10000" value="10000" step="100">
                        </div>
                        <div class="row mt-20 align-items-center gx-0">
                            <div class="col-9">
                                <div class="price-input">
                                    <div class="field">
                                        <span class="sympol">$</span>
                                        <input type="number" class="input-min" value="0">
                                    </div>
                                    <div class="separator"></div>
                                    <div class="field">
                                        <span class="sympol">$</span>
                                        <input type="number" class="input-max" value="10000">
                                    </div>
                                </div>
                            </div>
                            <div class="col-3 text-end">
                                <button class="bttn"> go </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="filter-group">
                <div class="group-title">
                    <strong class="fsz-14"> By Rating </strong>
                    <span class="arrow"> <i class="la la-angle-up"></i> </span>
                </div>
                <div class="group-body">
                    <div class="check-group check-stars">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="rate1">
                            <label class="form-check-label" for="rate1">
                                <div class="rate ms-1">
                                    <div class="stars">
                                        <i class="la la-star"></i>
                                        <i class="la la-star"></i>
                                        <i class="la la-star"></i>
                                        <i class="la la-star"></i>
                                        <i class="la la-star"></i>
                                    </div>
                                    <span class="num fsz-12 ms-2"> (52) </span>
                                </div>
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="rate2">
                            <label class="form-check-label" for="rate2">
                                <div class="rate ms-1">
                                    <div class="stars">
                                        <i class="la la-star"></i>
                                        <i class="la la-star"></i>
                                        <i class="la la-star"></i>
                                        <i class="la la-star"></i>
                                        <i class="la la-star color-999"></i>
                                    </div>
                                    <span class="num fsz-12 ms-2"> (24) </span>
                                </div>
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="rate3">
                            <label class="form-check-label" for="rate3">
                                <div class="rate ms-1">
                                    <div class="stars">
                                        <i class="la la-star"></i>
                                        <i class="la la-star"></i>
                                        <i class="la la-star"></i>
                                        <i class="la la-star color-999"></i>
                                        <i class="la la-star color-999"></i>
                                    </div>
                                    <span class="num fsz-12 ms-2"> (5) </span>
                                </div>
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="rate4">
                            <label class="form-check-label" for="rate4">
                                <div class="rate ms-1">
                                    <div class="stars">
                                        <i class="la la-star"></i>
                                        <i class="la la-star"></i>
                                        <i class="la la-star color-999"></i>
                                        <i class="la la-star color-999"></i>
                                        <i class="la la-star color-999"></i>
                                    </div>
                                    <span class="num fsz-12 ms-2"> (1) </span>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="filter-group">
                <div class="group-title">
                    <strong class="fsz-14"> By Screen Size </strong>
                    <span class="arrow"> <i class="la la-angle-up"></i> </span>
                </div>
                <div class="group-body">
                    <div class="check-boxes">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="check1">
                            <label class="form-check-label" for="check1">
                                <span> 7" & Under </span>
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="check2">
                            <label class="form-check-label" for="check2">
                                <span> 7.1" - 8.9" </span>
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="check3">
                            <label class="form-check-label" for="check3">
                                <span> 9" - 10.9" </span>
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="check4">
                            <label class="form-check-label" for="check4">
                                <span> 11" & Greater </span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="filter-group">
                <div class="group-title">
                    <strong class="fsz-14"> By Color </strong>
                    <span class="arrow"> <i class="la la-angle-up"></i> </span>
                </div>
                <div class="group-body">
                    <div class="color-boxes">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="color1">
                            <label class="form-check-label" for="color1">
                                <span class="color-box card-red"><i class="la la-check"></i></span>
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="color2">
                            <label class="form-check-label" for="color2">
                                <span class="color-box card-blue"><i class="la la-check"></i></span>
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="color3">
                            <label class="form-check-label" for="color3">
                                <span class="color-box card-cyan"><i class="la la-check"></i></span>
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="color4">
                            <label class="form-check-label" for="color4">
                                <span class="color-box card-black"><i class="la la-check"></i></span>
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="color5">
                            <label class="form-check-label" for="color5">
                                <span class="color-box card-white"><i class="la la-check"></i></span>
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="color6">
                            <label class="form-check-label" for="color6">
                                <span class="color-box card-green"><i class="la la-check"></i></span>
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="color7">
                            <label class="form-check-label" for="color7">
                                <span class="color-box card-gray"><i class="la la-check"></i></span>
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="color8">
                            <label class="form-check-label" for="color8">
                                <span class="color-box card-purple"><i class="la la-check"></i></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="filter-group">
                <div class="group-title">
                    <strong class="fsz-14"> By Memory </strong>
                    <span class="arrow"> <i class="la la-angle-up"></i> </span>
                </div>
                <div class="group-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="check-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="memory1">
                                    <label class="form-check-label fsz-13" for="memory1"> <p> 12GB <span class="color-888"> (4) </span> </p> </label>
                                </div>
                            </div>
                            <div class="check-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="memory2">
                                    <label class="form-check-label fsz-13" for="memory2"> <p> 8GB <span class="color-888"> (3) </span> </p> </label>
                                </div>
                            </div>
                            <div class="check-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="memory3">
                                    <label class="form-check-label fsz-13" for="memory3"> <p> 6GB <span class="color-888"> (12) </span> </p> </label>
                                </div>
                            </div>
                            <div class="check-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="memory4">
                                    <label class="form-check-label fsz-13" for="memory4"> <p> 4GB <span class="color-888"> (6) </span> </p> </label>
                                </div>
                            </div>
                            <div class="check-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="memory5">
                                    <label class="form-check-label fsz-13" for="memory5"> <p> 3GB <span class="color-888"> (7) </span> </p> </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="check-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="memory6">
                                    <label class="form-check-label fsz-13" for="memory6"> <p> 1.5GB <span class="color-888"> (1) </span> </p> </label>
                                </div>
                            </div>
                            <div class="check-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="memory7">
                                    <label class="form-check-label fsz-13" for="memory7"> <p> 1GB <span class="color-888"> (1) </span> </p> </label>
                                </div>
                            </div>
                            <div class="check-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="memory8">
                                    <label class="form-check-label fsz-13" for="memory8"> <p> 512MB <span class="color-888"> (2) </span> </p> </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="filter-group">
                <div class="group-title">
                    <strong class="fsz-14"> By Conditions </strong>
                    <span class="arrow"> <i class="la la-angle-up"></i> </span>
                </div>
                <div class="group-body">
                    <div class="check-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="con1">
                            <label class="form-check-label fsz-13" for="con1"> <p> New <span class="color-888"> (21) </span> </p> </label>
                        </div>
                    </div>
                    <div class="check-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="con2">
                            <label class="form-check-label fsz-13" for="con2"> <p> Like New <span class="color-888"> (2) </span> </p> </label>
                        </div>
                    </div>
                    <div class="check-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="con3">
                            <label class="form-check-label fsz-13" for="con3"> <p> Open Box <span class="color-888"> (38) </span> </p> </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="addimg mt-10">
        <img src="~/swoo2/assets/img/addimg.png" alt="" class="img-cover">
        <div class="inf">
            <h6 class="fsz-24 mb-30 text-white"> <strong> OKODo </strong> hero 11+ <br> 5K wireless </h6>
            <div class="price">
                <p class="fsz-12 color-999 text-uppercase"> from </p>
                <h5 class="fsz-30 fw-400"> $169 </h5>
            </div>
        </div>
    </div>
</div>
<!--  End product filters  -->