<!--  Start details  -->
<section class="product-text-details p-30 radius-4 bg-white mt-3 wow fadeInUp mb-3">
    <ul class="nav nav-pills mb-50" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-tab1-tab" data-bs-toggle="pill" data-bs-target="#pills-tab1">description</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-tab3-tab" data-bs-toggle="pill" data-bs-target="#pills-tab3">reviews (5)</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-tab4-tab" data-bs-toggle="pill" data-bs-target="#pills-tab4">additional information</button>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-tab1">
            <div class="tab-description">
                <div class="text mb-30">
                    Built for ultra-fast performance, the thin and lightweight Samsung Galaxy Tab S2 goes anywhere you go. Photos, movies and documents pop on a crisp, clear Super AMOLED display. Expandable memory lets you enjoy more of your favorite content. And connecting and sharing between all your Samsung devices is easier than ever. Welcome to life with the reimagined Samsung Galaxy Tab S2. Watch thev world come to life on your tablet's <strong> Super AMOLED display * </strong> . With deep contrast, rich colors and crisp details, you won't miss a thing
                </div>
                <div class="img th-400">
                    <img src="~/swoo2/assets/img/det1.jpg" alt="" class="img-cover radius-5">
                </div>
                <p class="fsz-13 fst-italic text-center color-777 mt-3"> * The Galaxy Tab S2's 4 : 3 ratio display provides you with an ideal environment for performing office tasks.  </p>
                <h6 class="fsz-18 fw-bold mt-30"> From the manufacturer </h6>
                <p class="color-555 mt-10">  
                    Dive into the blockbuster movies you can't wait to see. Switch between your favorite apps quickly and easily. The new and improved octa-core processor gives you the power and speed  you need to see more and do more. Expand your tablet's memory from 32GB to up to an additional 128GB and enjoy more of your favorite music, photos, movies and games on the go with  a microSD card. With Quick Connect, start a show on your Smart TV and, with the touch of a button, take it with you by moving it to your Galaxy Tab S2. 
                </p>
                <p class="color-555 mt-15"> 
                    Or send videos and photos from your tablet <a href="#" class="color-blue1"> screen to your TV </a> screen to share with everyone in the room. Work effortlessly between your Samsung tablet and Samsung smartphone  with SideSync. Quickly drag and drop photos between devices. And even respond to a call from your smartphone right on your tablet screen. 
                </p>
                <div class="imgs">
                    <div class="row gx-2">
                        <div class="col-lg-6">
                            <div class="img th-450 mt-30">
                                <img src="~/swoo2/assets/img/det2.png" alt="" class="img-cover radius-5">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="img th-450 mt-30">
                                <img src="~/swoo2/assets/img/det3.png" alt="" class="img-cover radius-5">
                            </div>
                        </div>
                    </div>
                </div>
                <h6 class="fsz-18 fw-bold mt-30"> Semsong Galaxy Tab S2, 8-Inch, White </h6>
                <div class="more-text">
                    <div class="text fsz-14 mt-20">
                        The Samsung Galaxy Tab S2 offers dual cameras: a rear-facing 8-megapixel camera with Auto Focus and a 2.1-megapixel camera on the front. Take high-quality pictures and video or video  chat with friends, family, and colleagues. Customize your Galaxy Tab S2 with the apps you use most. The Samsung Galaxy Essentials widget provides a collection of premium  complimentary apps optimized for your tablet screen. Select and download the apps you want to instantly upgrade your tablet experience.
                    </div>
                    <div class="text fsz-14 mt-20">
                        The Samsung Galaxy Tab S2 offers dual cameras: a rear-facing 8-megapixel camera with Auto Focus and a 2.1-megapixel camera on the front. Take high-quality pictures and video or video  chat with friends, family, and colleagues. Customize your Galaxy Tab S2 with the apps you use most. The Samsung Galaxy Essentials widget provides a collection of premium  complimentary apps optimized for your tablet screen. Select and download the apps you want to instantly upgrade your tablet experience.
                    </div>
                    <div class="text fsz-14 mt-20">
                        The Samsung Galaxy Tab S2 offers dual cameras: a rear-facing 8-megapixel camera with Auto Focus and a 2.1-megapixel camera on the front. Take high-quality pictures and video or video  chat with friends, family, and colleagues. Customize your Galaxy Tab S2 with the apps you use most. The Samsung Galaxy Essentials widget provides a collection of premium  complimentary apps optimized for your tablet screen. Select and download the apps you want to instantly upgrade your tablet experience.
                    </div>
                    <div class="text fsz-14 mt-20">
                        The Samsung Galaxy Tab S2 offers dual cameras: a rear-facing 8-megapixel camera with Auto Focus and a 2.1-megapixel camera on the front. Take high-quality pictures and video or video  chat with friends, family, and colleagues. Customize your Galaxy Tab S2 with the apps you use most. The Samsung Galaxy Essentials widget provides a collection of premium  complimentary apps optimized for your tablet screen. Select and download the apps you want to instantly upgrade your tablet experience.
                    </div>
                    <div class="overlay"></div>
                    <a href="#0" class="more-btn text-primary text-uppercase fsz-13"> show more <i class="la la-angle-down ms-1"></i> </a>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="pills-tab3">
            <div class="product-reviews p-4 radius-5 bg-light">
                <div class="row gx-5">
                    <div class="col-lg-7">
                        <div class="reviews-content pt-30">
                            <h5 class="color-000 mb-40 text-capitalize"> 02 reviews </h5>
                            <div class="comment-replay-cont py-5 px-4 mb-20 bg-white radius-5">
                                <div class="d-flex comment-cont">
                                    <div class="icon-60 rounded-circle overflow-hidden me-3 flex-shrink-0">
                                        <img src="~/swoo2/assets/img/team/2.jpg" alt="" class="img-cover">
                                    </div>
                                    <div class="inf">
                                        <div class="title d-flex justify-content-between">
                                            <h6 class="fw-bold">Robert Downey Jr</h6>
                                            <div class="time  text-uppercase d-inline-block">
                                                <div class="rate">
                                                    <div class="stars">
                                                        <i class="fas fa-star active"></i>
                                                        <i class="fas fa-star active"></i>
                                                        <i class="fas fa-star active"></i>
                                                        <i class="fas fa-star active"></i>
                                                        <i class="fas fa-star"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text color-000  mt-10">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Atume nusaate staman utra phone limo sumeria                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="comment-replay-cont py-5 px-4 mb-20 bg-white radius-5">
                                <div class="d-flex comment-cont">
                                    <div class="icon-60 rounded-circle overflow-hidden me-3 flex-shrink-0">
                                        <img src="~/swoo2/assets/img/team/4.jpg" alt="" class="img-cover">
                                    </div>
                                    <div class="inf">
                                        <div class="title d-flex justify-content-between">
                                            <h6 class="fw-bold">Ben Chiwell</h6>
                                            <div class="time  text-uppercase">
                                                <div class="rate">
                                                    <div class="stars">
                                                        <i class="fas fa-star active"></i>
                                                        <i class="fas fa-star active"></i>
                                                        <i class="fas fa-star active"></i>
                                                        <i class="fas fa-star active"></i>
                                                        <i class="fas fa-star"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text color-000  mt-10">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Atume nusaate staman utra phone limo sumeria                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <form class="comment-form d-block pt-30">
                            <h5 class="color-000 mb-40 text-capitalize"> Add a review </h5>
                            <div class="row">
                                <div class="col-lg-12">
                                    <label class="text-uppercase mb-1">
                                        your rating
                                    </label>
                                    <div class="rate-stars">
                                        <input type="radio" name="star" value="5">
                                        <input type="radio" name="star" value="4">
                                        <input type="radio" name="star" value="3">
                                        <input type="radio" name="star" value="2">
                                        <input type="radio" name="star" value="1">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group mb-30">
                                        <textarea class="form-control" rows="6" placeholder="Write your comment here"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group mb-4 mb-lg-0">
                                        <input type="text" class="form-control" placeholder="Your Name *">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Your Email *">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-check mt-20">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label class="form-check-label " for="flexCheckDefault">
                                            Save my name & email in this browser for next time I comment
                                        </label>
                                      </div>
                                </div>
                                <div class="col-12">
                                    <a href="#" class="butn bg-green2 text-white radius-4 fw-500 fsz-12 text-uppercase text-center mt-30 w-100 py-3"> <span> Submit Comment </span> </a>
                                </div>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="pills-tab4">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="additional-info">
                        <ul>
                            <li>
                                <strong>Weight</strong>
                                <span> 0.6 kg </span>
                            </li>
                            <li>
                                <strong>Dimensions</strong>
                                <span> 40 × 30 × 30 cm </span>
                            </li>
                            <li>
                                <strong>Color</strong>
                                <span> White, Black, Red </span>
                            </li>
                            <li>
                                <strong>Year</strong>
                                <span> 2021 </span>
                            </li>
                            <li>
                                <strong>Style</strong>
                                <span> Classic, Modern </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  End details  -->