<!--  Start main details  -->
<section class="product-main-details p-30 radius-4 bg-white mt-3 wow fadeInUp">
    <div class="row">
        <div class="col-lg-5">
            <div class="img-slider">
                <div class="top-title">
                    <small class="fsz-10 py-1 px-2 radius-2 bg-222 text-white text-uppercase"> new </small>
                    <div class="icons">
                        <span class="icon icon-plus"> <i class="la la-plus"></i> </span>
                        <div class="collapse-icons">
                            <span class="icon icon-plus"> <i class="la la-eye"></i> </span>
                            <!-- <span class="icon icon-plus"> <i class="la la-sync"></i> </span> -->
                            <span class="icon icon-plus"> <i class="la la-shopping-cart"></i> </span>
                            <span class="icon icon-plus fav-btn"> <i class="las la-heart"></i> </span>
                        </div>
                    </div>
                </div>
                <div class="swiper-container gallery-top">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="img">
                                <img src="~/swoo2/assets/img/sin_product/prod1.jpg" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="img">
                                <img src="~/swoo2/assets/img/sin_product/prod2.jpg" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="img">
                                <img src="~/swoo2/assets/img/sin_product/prod3.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-container gallery-thumbs">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="img">
                                <img src="~/swoo2/assets/img/sin_product/prod1.jpg" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="img">
                                <img src="~/swoo2/assets/img/sin_product/prod2.jpg" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="img">
                                <img src="~/swoo2/assets/img/sin_product/prod3.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="info">
                <div class="rating">
                    <div class="stars">
                        <i class="la la-star"></i>
                        <i class="la la-star"></i>
                        <i class="la la-star"></i>
                        <i class="la la-star"></i>
                        <i class="la la-star color-999"></i>
                    </div>
                    <span class="num"> (5) </span>
                </div>
                <h4 class="product_title"> 
                    <a href="#"> Somseng Galatero X6 Ultra LTE 4G/128GB, Black Smartphone  </a>   
                </h4>
                <div class="price mt-20">
                    <h3 class="fsz-22 fw-600"> $569.00 - $609.00 </h3>
                </div>
                <ul class="fsz-12 mt-15 lh-5">
                    <li> <span class="icon-6 bg-666 rounded-circle me-2"></span> Intel LGA 1700 Socket: Supports 13th & 12th Gen Intel Core </li>
                    <li> <span class="icon-6 bg-666 rounded-circle me-2"></span> DDR5 Compatible: 4*SMD DIMMs with XMP 3.0 Memory </li>
                    <li> <span class="icon-6 bg-666 rounded-circle me-2"></span> Commanding Power Design: Twin 16+1+2 Phases Digital VRM </li>
                </ul>
                <div class="meta pb-20">
                    <a href="#" class="meta-item color-green2"> free shipping <span class="bg bg-green2"></span> </a>
                    <a href="#" class="meta-item color-red1"> free gift <span class="bg bg-red1"></span> </a>
                </div>
                <div class="color-content">
                    <p class="color-666"> <strong class="color-000 text-uppercase me-1"> Color: </strong> <span> Midnight Blue </span> </p>
                    <div class="color-choose">
                        <div class="row gx-2">
                            <div class="col-lg-4">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" id="color1" value="option1" name="color" checked>
                                    <label class="form-check-label" for="color1">
                                        <div class="color-item">
                                            <div class="img">
                                                <img src="~/swoo2/assets/img/sin_product/prod1.jpg" alt="">
                                            </div>
                                            <div class="inf">
                                                <p class="fsz-12"> Midnight Blue </p>
                                                <strong class="fsz-12"> $569.00 </strong>
                                            </div>
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" id="color2" value="option2" name="color">
                                    <label class="form-check-label" for="color2">
                                        <div class="color-item">
                                            <div class="img">
                                                <img src="~/swoo2/assets/img/sin_product/prod4.jpg" alt="">
                                            </div>
                                            <div class="inf">
                                                <p class="fsz-12"> Deep Purple </p>
                                                <strong class="fsz-12"> $569.00 </strong>
                                            </div>
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" id="color3" value="option3" name="color">
                                    <label class="form-check-label" for="color3">
                                        <div class="color-item">
                                            <div class="img">
                                                <img src="~/swoo2/assets/img/sin_product/prod5.jpg" alt="">
                                            </div>
                                            <div class="inf">
                                                <p class="fsz-12"> Space Black </p>
                                                <strong class="fsz-12"> $569.00 </strong>
                                            </div>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="color-666 mt-20"> <strong class="color-000 text-uppercase me-1"> memory size: </strong> <span> 128GB </span> </p>
                    <div class="memory-choose mt-10">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="memory1" value="option1" name="memory">
                            <label class="form-check-label disable" for="memory1">64GB</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="memory2" value="option2" name="memory" checked>
                            <label class="form-check-label" for="memory2">128GB</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="memory3" value="option3" name="memory">
                            <label class="form-check-label" for="memory3">256GB</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="memory4" value="option4" name="memory">
                            <label class="form-check-label" for="memory4">512GB</label>
                        </div>
                    </div>
                </div>
                <div class="gift-card mb-20">
                    <div class="gift-img">
                        <img src="~/swoo2/assets/img/gift.png" alt="">
                    </div>
                    <div class="gift-info">
                        <ul>
                            <li class="fsz-14"> <i class="icon-3 bg-000 me-1"></i> Buy <span class="color-red2 fw-bold"> 02 </span> boxes get a <strong> Snack Tray </strong> </li>
                            <li class="fsz-14"> <i class="icon-3 bg-000 me-1"></i> Buy <span class="color-red2 fw-bold"> 04 </span> boxes get a free <strong> Block Toys </strong> </li>
                        </ul>
                        <p class="fsz-12 color-666 mt-20 fst-italic"> Promotion will expires in: 9h00pm, 25/5/2024 </p>
                    </div>
                </div>
                <p class="color-666"> <strong class="color-000 text-uppercase me-1"> SKU: </strong> <span> ABC025168 </span> </p>
                <p class="color-666"> <strong class="color-000 text-uppercase me-1"> Category: </strong> <span> Cell Phones & Tablets </span> </p>
                <p class="color-666"> <strong class="color-000 text-uppercase me-1"> Brand: </strong> <span class="color-green2"> sumsong </span> </p>
                <div class="social-icons mt-20">
                    <a href="#"> <i class="fab fa-twitter"></i> </a>
                    <a href="#"> <i class="fab fa-facebook-f"></i> </a>
                    <a href="#"> <i class="fab fa-instagram"></i> </a>
                    <a href="#"> <i class="fab fa-youtube"></i> </a>
                    <a href="#"> <i class="fab fa-dribbble"></i> </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            @{
                await Html.RenderPartialAsync("_PaymentSide");
            }
        </div>
    </div>
</section>
<!--  End main details  -->
