<!--  Start recently  -->
<section class="tc-recently-viewed-style6 p-30 radius-4 bg-white mt-3 wow fadeInUp mb-3">
    <div class="title mb-30">
        <div class="row align-items-center">
            <div class="col-lg-8">
                <h6 class="fsz-18 fw-bold text-uppercase d-inline-block"> your recently viewed </h6>
                <a href="#" class="more text-capitalize color-666 fsz-13 ms-lg-4 mt-4 mt-lg-0"> View All <i class="la la-angle-right ms-1"></i> </a>
            </div>
            <div class="col-lg-4 text-lg-end mt-3 mt-lg-0">
                <div class="arrows">
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="products-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="product-card">
                    <div class="top-inf">
                        <small class="fsz-10 py-1 px-2 radius-2 bg-222 text-white text-uppercase"> new </small>
                        <a href="#0" class="fav-btn"> <i class="las la-heart"></i> </a>
                    </div>
                    <div class="row gx-0">
                        <div class="col-5">
                            <a href="#" class="img">
                                <img src="~/swoo2/assets/img/products/prod58.png" alt="" class="img-contain">
                            </a>
                        </div>
                        <div class="col-7">
                            <div class="info">
                                <div class="rating">
                                    <div class="stars">
                                        <i class="la la-star"></i>
                                        <i class="la la-star"></i>
                                        <i class="la la-star"></i>
                                        <i class="la la-star"></i>
                                        <i class="la la-star color-999"></i>
                                    </div>
                                    <span class="num"> (152) </span>
                                </div>
                                <a href="#" class="title fsz-13 fw-bold mb-15 hover-green2 pe-3"> Xomie Remid 8 Sport Water Resitance Watch </a>
                                <h6 class="fsz-16 fw-bold"> $579.00 </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="product-card">
                    <div class="top-inf">
                        <small class="fsz-10 py-1 px-2 radius-2 bg-222 text-white text-uppercase"> new </small>
                        <a href="#0" class="fav-btn"> <i class="las la-heart"></i> </a>
                    </div>
                    <div class="row gx-0">
                        <div class="col-5">
                            <a href="#" class="img">
                                <img src="~/swoo2/assets/img/products/prod59.png" alt="" class="img-contain">
                            </a>
                        </div>
                        <div class="col-7">
                            <div class="info">
                                <a href="#" class="title fsz-13 fw-bold mb-15 hover-green2 pe-3"> Microte Surface 2.0 Laptop </a>
                                <h6 class="fsz-16 fw-bold"> $979.00 </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="product-card">
                    <div class="top-inf">
                        <a href="#0" class="fav-btn"> <i class="las la-heart"></i> </a>
                    </div>
                    <div class="row gx-0">
                        <div class="col-5">
                            <a href="#" class="img">
                                <img src="~/swoo2/assets/img/products/prod60.png" alt="" class="img-contain">
                            </a>
                        </div>
                        <div class="col-7">
                            <div class="info">
                                <a href="#" class="title fsz-13 fw-bold mb-15 hover-green2 pe-3"> aPod Pro Tablet 2023 LTE + Wifi, GPS Cellular 12.9 Inch, 512GB </a>
                                <h6 class="fsz-16 fw-bold"> $979.00 - $1,259.00 </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="product-card">
                    <div class="top-inf">
                        <div class="dis-card">
                            <small class="fsz-10 d-block text-uppercase"> save </small>
                            <h6 class="fsz-10"> $192.00 </h6>
                        </div>
                        <a href="#0" class="fav-btn"> <i class="las la-heart"></i> </a>
                    </div>
                    <div class="row gx-0">
                        <div class="col-5">
                            <a href="#" class="img">
                                <img src="~/swoo2/assets/img/products/prod61.png" alt="" class="img-contain">
                            </a>
                        </div>
                        <div class="col-7">
                            <div class="info">
                                <div class="rating">
                                    <div class="stars">
                                        <i class="la la-star"></i>
                                        <i class="la la-star"></i>
                                        <i class="la la-star"></i>
                                        <i class="la la-star"></i>
                                        <i class="la la-star color-999"></i>
                                    </div>
                                    <span class="num"> (152) </span>
                                </div>
                                <a href="#" class="title fsz-13 fw-bold mb-15 hover-green2 pe-3"> SROK Smart Phone 128GB, Oled Retina </a>
                                <h6 class="fsz-16 fw-bold"> <span class="color-red1 fw-600"> $579.00  </span> <span class="old fsz-14 color-666 text-decoration-line-through ms-2"> $779.00 </span> </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="product-card">
                    <div class="top-inf">
                        <a href="#0" class="fav-btn"> <i class="las la-heart"></i> </a>
                    </div>
                    <div class="row gx-0">
                        <div class="col-5">
                            <a href="#" class="img">
                                <img src="~/swoo2/assets/img/products/prod60.png" alt="" class="img-contain">
                            </a>
                        </div>
                        <div class="col-7">
                            <div class="info">
                                <a href="#" class="title fsz-13 fw-bold mb-15 hover-green2 pe-3"> aPod Pro Tablet 2023 LTE + Wifi, GPS Cellular 12.9 Inch, 512GB </a>
                                <h6 class="fsz-16 fw-bold"> $979.00 - $1,259.00 </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  End recently  -->
