<!--  Start related  -->
<section class="related-products p-30 radius-4 bg-white mt-3 wow fadeInUp mb-3">
    <h6 class="fsz-18 fw-bold text-uppercase"> related products </h6>
    <div class="products-content">
        <div class="products-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="product-card">
                        <div class="top-inf">
                            <div class="dis-card">
                                <small class="fsz-10 d-block text-uppercase"> save </small>
                                <h6 class="fsz-14"> $199.00 </h6>
                            </div>
                            <a href="#0" class="fav-btn"> <i class="las la-heart"></i> </a>
                        </div>
                        <a href="#0" class="img">
                            <img src="~/swoo2/assets/img/products/prod26.png" alt="" class="img-contain main-image">
                        </a>
                        <div class="info">
                            <div class="rating">
                                <div class="stars">
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                </div>
                                <span class="num"> (152) </span>
                            </div>
                            <h6> <a href="#" class="prod-title fsz-14 fw-bold mt-2 hover-green2"> SROK Smart Phone 128GB, Oled Retina </a> </h6>
                            <div class="price mt-15">
                                <h5 class="fsz-18 color-red1 fw-600"> $579.00 <span class="old fsz-14 color-666 text-decoration-line-through"> $859.00 </span> </h5>
                            </div>
                            <div class="meta">
                                <a href="#" class="meta-item color-green2"> free shipping <span class="bg bg-green2"></span> </a>
                            </div>
                            <p class="fsz-12 mt-2"> <i class="fas fa-check-circle color-green2 me-1"></i> In stock </p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product-card">
                        <div class="top-inf">
                            <small class="fsz-10 py-1 px-2 radius-2 bg-222 text-white text-uppercase"> new </small>
                            <a href="#0" class="fav-btn"> <i class="las la-heart"></i> </a>
                        </div>
                        <a href="#0" class="img">
                            <img src="~/swoo2/assets/img/products/prod27.png" alt="" class="img-contain main-image">
                        </a>
                        <div class="info">
                            <h6> <a href="#" class="prod-title fsz-14 fw-bold mt-2 hover-green2"> aPod Pro Tablet 2023  LTE + Wifi, GPS Cellular 12.9 Inch, 512GB </a> </h6>
                            <div class="price mt-15">
                                <h5 class="fsz-18 fw-600"> $979.00 - $1,259.00 </h5>
                            </div>
                            <div class="meta">
                                <a href="#" class="meta-item color-222"> $2.98 Shipping <span class="bg bg-222"></span> </a>
                            </div>
                            <p class="fsz-12 mt-2"> <i class="fas fa-check-circle color-green2 me-1"></i> In stock </p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product-card">
                        <div class="top-inf">
                            <a href="#0" class="fav-btn"> <i class="las la-heart"></i> </a>
                        </div>
                        <a href="#0" class="img">
                            <img src="~/swoo2/assets/img/products/prod28.png" alt="" class="img-contain main-image">
                        </a>
                        <div class="info">
                            <div class="rating">
                                <div class="stars">
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                    <i class="la la-star color-999"></i>
                                </div>
                                <span class="num"> (5) </span>
                            </div>
                            <h6> <a href="#" class="prod-title fsz-14 fw-bold mt-2 hover-green2"> OPod Pro 12.9 Inch M1 2023, 64GB + Wifi, GPS </a> </h6>
                            <div class="price mt-15">
                                <h5 class="fsz-18 fw-600"> $659.00 </h5>
                            </div>
                            <div class="meta">
                                <a href="#" class="meta-item color-green2"> free shipping <span class="bg bg-green2"></span> </a>
                                <a href="#" class="meta-item color-red1"> free gift <span class="bg bg-red1"></span> </a>
                            </div>
                            <p class="fsz-12 mt-2"> <i class="fas fa-check-circle color-green2 me-1"></i> In stock </p>
                            <div class="thumbnail-imgs mt-10">
                                <span class="color-img icon-40">
                                    <img src="~/swoo2/assets/img/products/prod28.png" alt="" class="thumbnail">
                                </span>
                                <span class="color-img icon-40">
                                    <img src="~/swoo2/assets/img/products/prod26.png" alt="" class="thumbnail">
                                </span>
                                <span class="color-img icon-40">
                                    <img src="~/swoo2/assets/img/products/prod29.png" alt="" class="thumbnail">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product-card">
                        <div class="top-inf">
                            <div class="dis-card">
                                <small class="fsz-10 d-block text-uppercase"> save </small>
                                <h6 class="fsz-14"> $59.00 </h6>
                            </div>
                            <a href="#0" class="fav-btn"> <i class="las la-heart"></i> </a>
                        </div>
                        <a href="#0" class="img">
                            <img src="~/swoo2/assets/img/products/prod29.png" alt="" class="img-contain main-image">
                        </a>
                        <div class="info">
                            <div class="rating">
                                <div class="stars">
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                </div>
                                <span class="num"> (9) </span>
                            </div>
                            <h6> <a href="#" class="prod-title fsz-14 fw-bold mt-2 hover-green2"> Xiamoi Redmi Note 5, 64GB </a> </h6>
                            <div class="price mt-15">
                                <h5 class="fsz-18 color-red1 fw-600"> $1,239.00 <span class="old fsz-14 color-666 text-decoration-line-through"> $1,619.00 </span> </h5>
                            </div>
                            <div class="meta">
                                <a href="#" class="meta-item color-green2"> free shipping <span class="bg bg-green2"></span> </a>
                            </div>
                            <p class="fsz-12 mt-2"> <i class="fas fa-phone-alt me-1"></i> <a href="#"> Contact </a> </p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product-card">
                        <div class="top-inf">
                            <a href="#0" class="fav-btn"> <i class="las la-heart"></i> </a>
                        </div>
                        <a href="#0" class="img">
                            <img src="~/swoo2/assets/img/products/prod30.png" alt="" class="img-contain main-image">
                        </a>
                        <div class="info">
                            <div class="rating">
                                <div class="stars">
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                    <i class="la la-star-half"></i>
                                </div>
                                <span class="num"> (8) </span>
                            </div>
                            <h6> <a href="#" class="prod-title fsz-14 fw-bold mt-2 hover-green2"> Microsute Alpha Ultra S5 Surface 128GB 2022, Sliver </a> </h6>
                            <div class="price mt-15">
                                <h5 class="fsz-18 fw-600"> $1,729.00 </h5>
                            </div>
                            <div class="meta">
                                <a href="#" class="meta-item color-green2"> free shipping <span class="bg bg-green2"></span> </a>
                            </div>
                            <p class="fsz-12 mt-2"> <i class="fas fa-phone-alt me-1"></i> <a href="#"> Contact </a> </p>
                            <div class="thumbnail-imgs mt-10">
                                <span class="color-img icon-40">
                                    <img src="~/swoo2/assets/img/products/prod30.png" alt="" class="thumbnail">
                                </span>
                                <span class="color-img icon-40">
                                    <img src="~/swoo2/assets/img/products/prod10.png" alt="" class="thumbnail">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product-card">
                        <div class="top-inf">
                            <small class="fsz-10 py-1 px-2 radius-2 bg-222 text-white text-uppercase"> new </small>
                            <a href="#0" class="fav-btn"> <i class="las la-heart"></i> </a>
                        </div>
                        <a href="#0" class="img">
                            <img src="~/swoo2/assets/img/products/prod27.png" alt="" class="img-contain main-image">
                        </a>
                        <div class="info">
                            <h6> <a href="#" class="prod-title fsz-14 fw-bold mt-2 hover-green2"> aPod Pro Tablet 2023  LTE + Wifi, GPS Cellular 12.9 Inch, 512GB </a> </h6>
                            <div class="price mt-15">
                                <h5 class="fsz-18 fw-600"> $979.00 - $1,259.00 </h5>
                            </div>
                            <div class="meta">
                                <a href="#" class="meta-item color-222"> $2.98 Shipping <span class="bg bg-222"></span> </a>
                            </div>
                            <p class="fsz-12 mt-2"> <i class="fas fa-check-circle color-green2 me-1"></i> In stock </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</section>
<!--  End related  -->