<!--  Start testimonials  -->
<section class="tc-testimonials-style1 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="advc-card card-gray overflow-hidden wow fadeInUp slow" data-wow-delay="0.2s">
                    <div class="title mb-40">
                        <div class="row align-items-center">
                            <div class="col-lg-8">
                                <h3 class="fsz-30"> Just Landing </h3>
                            </div>
                            <div class="col-lg-4 text-lg-end mt-4 mt-lg-0">
                                <a href="/" class="more-btn fsz-14 text-uppercase fw-500"> View All <i class="fal fa-angle-right ms-1"></i> </a>
                            </div>
                        </div>
                    </div>
                    <div class="blog-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="advc-item">
                                    <div class="img">
                                        <img src="~/swoo/home_electronic/assets/img/blog_1.jpg" alt="" class="img-cover">
                                    </div>
                                    <div class="info">
                                        <h6> <a href="/" class="fsz-18 fw-bold hover-blue1"> How to choose size of Television fit to your living room </a> </h6>
                                        <small class="fsz-12 color-666 float-text"> 45 Minutes ago in <a href="/" class="color-000 text-uppercase"> Experience </a> </small>
                                    </div>
                                </div>
                                <div class="advc-item">
                                    <div class="img">
                                        <img src="~/swoo/home_electronic/assets/img/blog_2.jpg" alt="" class="img-cover">
                                    </div>
                                    <div class="info">
                                        <h6> <a href="/" class="fsz-18 fw-bold hover-blue1"> Introduce New Generation of Eluxtro Washing Machine 2023 </a> </h6>
                                        <small class="fsz-12 color-666 float-text"> 2 Days ago in <a href="/" class="color-000 text-uppercase"> Technology </a> </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="testimonials-box card-gray overflow-hidden wow fadeInUp slow" data-wow-delay="0.4s">
                    <div class="title mb-40">
                        <div class="row align-items-center">
                            <div class="col-lg-8">
                                <h3 class="fsz-30"> Best Selling Speakers </h3>
                            </div>
                            <div class="col-lg-4 text-lg-end mt-4 mt-lg-0">
                                <div class="arrows">
                                    <a href="#0" class="swiper-prev"> <i class="fal fa-chevron-left"></i> </a>
                                    <a href="#0" class="swiper-next"> <i class="fal fa-chevron-right"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testi-card">
                        <div class="rate mb-20">
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <h6 class="fsz-18 fw-bold"> Fast shipping and flexiable price! </h6>
                        </div>
                        <div class="text fsz-14 mb-50">
                            I used to have experience shopping on much platform as Amozon, Eboy, Esto, etc. And see that Swoo Market really great. It'll be my 1st choice for any shopping experience. Competitive price, fast shipping and support 24/7. Extremely recommended!
                        </div>
                        <div class="btm-items">
                            <div class="user-info">
                                <div class="img">
                                    <img src="~/swoo/home_electronic/assets/img/user.jpg" alt="">
                                    <span class="icon"> <i class="fas fa-check"></i> </span>
                                </div>
                                <div class="inf">
                                    <h6 class="fsz-18 fw-bold"> Drake N. <small class="fsz-10 color-green1 ms-1 text-uppercase"> Verified Buyer </small> </h6>
                                    <p class="fsz-12 color-666"> Brooklyn, Los Angeles </p>
                                </div>
                            </div>
                            <a href="/" class="text-capitalize color-blue1 text-decoration-underline fsz-11 fw-600"> Marshall Standmore Speaker / Black </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  End testimonials  -->